﻿@{
    Layout = null;
    var _UserName = ViewBag.UserName;
    var _Password = ViewBag.Password;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login Page</title>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
          crossorigin="anonymous">
    <link rel="stylesheet" href="@Url.Content("~/themes/login.css")">
    <link rel="stylesheet" href="@Url.Content("~/themes/loading.css")" />
</head>
<body>
    <div class="se-pre-con" style="background: #3498db;">
        <div class="book">
            <div class="book__page"></div>
            <div class="book__page"></div>
            <div class="book__page"></div>
        </div>
    </div>

    <form class="login" method="post" asp-controller="Auth" asp-action="SignIn" id="dvLogin">
        <i class="fa fa-empire"></i>
        <h2>Đăng nhập</h2>
        <div class="group">
            <input type="text" placeholder="Tên đăng nhập" name="Username" value="@_UserName">
            <i class="fa fa-user"></i>
        </div>
        <div class="group">
            <input type="password" placeholder="Mật khẩu" name="Password" value="@_Password">
            <i class="fa fa-lock"></i>
        </div>
        <button type="submit">
            <i class="fa fa-send"></i>Đăng nhập
        </button>
        <p>Thông tin đăng nhập sẽ tự lưu cho lần kế tiếp !.</p>
        @if (ViewBag.Message == "405")
        {
            <p style="color: rebeccapurple">Tên đăng nhập/ mật khẩu không đúng !.</p>
            <hr />
        }
    </form>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(".se-pre-con").fadeOut("slow");
    </script>
    @{

        if (ViewBag.Message == "IsAuthen")
        {
            <script>
                $(".se-pre-con").fadeIn("slow");
                window.location.replace("@Url.Action("Index", "Admin")");
            </script>
        }
    }
</body>
</html>