﻿@{
    Layout = "~/Views/Admin/_Layout.cshtml";

    List<Article_Model> _ListArticle = new List<Article_Model>();
    if (ViewBag.ListArticle != null)
    {
        _ListArticle = ViewBag.ListArticle as List<Article_Model>;
    }
}
<header class="page-header">
    <h2>@ViewBag.CategoryName</h2>
    <div class="right-wrapper text-right">
        <ol class="breadcrumbs">
            <li>
                <a href="#">
                    <i class="fas fa-home"></i>
                </a>
            </li>
            <li></li>
        </ol>
    </div>
</header>
<div class="row">
    <div class="col-md-12">
        <div class="card border ">
            <div class="card-header ">
                <button type="button" id="btn_New" class="btn btn-info float-right">
                    <i class="fa fa-plus"></i>
                    Thêm mới
                </button>
            </div>
            <div class="card-body ">
                @if (TempData["Error"] != null &&
                     TempData["Error"].ToString() != string.Empty)
                {
                    <div class="alert alert-danger">
                        <strong>@TempData["Error"]</strong>.
                    </div>
                }
                else
                {
                    if (_ListArticle.Count > 0)
                    {
                        <table class="table table-sm data">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Tiêu đề</th>
                                    <th>Tóm tắt</th>
                                    <th>Xuất bản</th>
                                    <th>Tác giả</th>
                                    <th>Ngày lập</th>
                                    <th class="text-right">

                                    </th>
                                </tr>
                            </thead>
                            <tbody id="tblBody">
                                @for (int i = 0; i < _ListArticle.Count; i++)
                                {
                                    #region [Data]
                                    var zRec = _ListArticle[i];
                                    string No = (i + 1).ToString();
                                    string Key = zRec.ArticleKey;
                                    string Summarize = zRec.Summarize;
                                    string ArticleName = zRec.ArticleName;
                                    string CreatedOn = zRec.CreatedOn.ToString("dd/MM/yyyy");
                                    string CreatedName = zRec.CreatedName;
                                    int CategoryKey = zRec.CategoryKey;
                                    int Rank = zRec.Rank;
                                    #endregion

                                    <tr id="@Key">
                                        <td>@No</td>
                                        <td>@ArticleName</td>
                                        <td>@TN_Utils.GetShortContent(Summarize, 100)</td>
                                        <td>
                                            <div class="checkbox-custom checkbox-text-primary ib float-right">
                                                @if (zRec.Publish)
                                                {
                                                    <input type="checkbox" id="chk_@Key" onclick="Activate_Article('@Key')" checked>
                                                }
                                                else
                                                {
                                                    <input type="checkbox" id="chk_@Key" onclick="Activate_Article('@Key')">
                                                }
                                                <label for="chk_@Key"></label>
                                            </div>
                                        </td>
                                        <td>@CreatedName</td>
                                        <td>@CreatedOn</td>
                                        <td class="text-right">
                                            <a class="btn btn-outline-info btn-sm"
                                               asp-controller="Admin"
                                               asp-action="Article_Edit"
                                               asp-route-ArticleKey="@Key"
                                               asp-route-CategoryKey="@CategoryKey">
                                                <i class="far fa-edit"></i>
                                            </a>
                                            <button type="button" class="btn btn-outline-danger btn-sm" onclick="Delete_Article('@Key')">
                                                <i class="fas fa-trash"></i>
                                            </button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                    else
                    {
                        <div class="alert alert-primary">
                            <strong>Bạn chưa cập nhật, hoặc không tìm thấy dữ liệu phù hợp !</strong>.
                        </div>
                    }
                }
            </div>
            <div class="card-footer ">
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script>
        var URL_Edit = "@Url.Action("Article_Edit", "Admin", new { ArticleKey = 0, CategoryKey = "_cate_" })";
        var URL_Delete = "@Url.Action("Delete_Article", "Admin")";
        var URL_Active = "@Url.Action("Activate_Article", "Admin")";
    </script>
    <script>
        $(document).ready(function () {
            $("#btn_New").click(function () {
                var sPageURL = window.location.href;
                var sTmp = sPageURL.split("/");
                var sParam = sTmp[sTmp.length - 1];
                URL_Edit = URL_Edit.replace("_cate_", sParam);
                window.location = URL_Edit;
            });
        });
        function Delete_Article(Key) {
            $.confirm({
                type: "red",
                typeAnimated: true,
                title: "Cảnh báo !.",
                content: "Bạn có chắc xóa thông tin này ?.",
                buttons: {
                    confirm: {
                        text: "Đồng ý",
                        btnClass: "btn-red",
                        action: function () {
                            $.ajax({
                                url: URL_Delete,
                                type: "POST",
                                data: {
                                    "ArticleKey": Key
                                },
                                beforeSend: function () {
                                },
                                success: function (r) {
                                    if (r.success) {
                                        var elm = $("#" + Key);
                                        Utils.RemoveRow(elm);
                                    }
                                    else {
                                        Utils.OpenNotify(r.message, "Thông báo", "error");
                                    }
                                },
                                error: function (err) {
                                    Utils.OpenNotify(err.responseText, "Thông báo", "error");
                                },
                                complete: function () {
                                }
                            });
                        }
                    },
                    cancel: {
                        text: "Hủy",
                    }
                }
            });
        }
        function Activate_Article(Key) {
            $.ajax({
                url: URL_Active,
                type: "POST",
                data: {
                    "ArticleKey": Key,
                },
                beforeSend: function () {
                },
                success: function (r) {
                    if (r.success) {
                        Utils.OpenNotify("Đã cập nhật hiển thị", "Thông báo", "success");
                    }
                    else {
                        Utils.OpenNotify(r.message, "Thông báo", "error");
                    }
                },
                error: function (err) {
                    Utils.OpenNotify(err.responseText, "Thông báo", "error");
                },
                complete: function () {
                }
            });
        }
    </script>
}