﻿@model Article_Model
@{
    ViewBag.Title = "Article";
    Layout = "~/Views/Admin/_Layout.cshtml";
}
<header class="page-header">
    <h2>Bài viết</h2>
    <div class="right-wrapper text-right">
        <ol class="breadcrumbs">
            <li>
                <a href="#">
                    <i class="fas fa-home"></i>
                </a>
            </li>
            <li></li>
        </ol>
    </div>
</header>
@if (TempData["Error"] != null &&
       TempData["Error"].ToString() != string.Empty)
{
    <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <strong>@TempData["Error"]</strong>
    </div>
}
<form class="ecommerce-form action-buttons-fixed row"
      enctype="multipart/form-data" method="post"
      action="@Url.Action("Save_Article", "Admin")">
    <div class="col-md-8">
        <div class="form-group">
            <label for="txt_ArticleName" class="control-label">Tiêu đề bài viết</label>
            <input type="text" class="form-control" id="txt_ArticleName" name="ArticleName" value="@Model.ArticleName" placeholder="Tiêu đề" required="">
        </div>
        <div class="form-group">
            <div class="">
                <label for="txt_Summarize" class="control-label">Tóm tắt nội dung</label>
                <textarea id="txt_Summarize" rows="5" class="form-control" name="Summarize" required="">@Model.Summarize</textarea>
            </div>
        </div>
        <div class="form-group">
            <label for="txt_ArticleContent" class="control-label">Nội dung chi tiết</label>
            <textarea id="txt_ArticleContent" rows="4" cols="10" name="ArticleContent" style="min-height:500px;">@Model.ArticleContent</textarea>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body bg-white">
                <div class="form-group text-center">
                    @if (Model.ImageLarge.Length <= 0)
                    {
                        <img id="imgpreview" src="~/themes/admin/img/noimg.png" alt="your image" style="max-height: 200px; max-width:100%" />
                    }
                    else
                    {
                        <img id="imgpreview" src="@Url.Content(Model.ImageLarge)" alt="your image" style="max-height: 200px; max-width: 100%" />
                    }
                    <input type="file" id="ArticlePicture" class="form-control d-none" name="ArticlePicture" accept="image/*;capture=camera" />
                </div>
                <div class="form-group d-none">
                    <label for="" class="control-label">Tập tin đính kèm</label>
                    @if (Model.FileAttack.Length > 0)
                    {
                        <a href="@Model.FileAttack">
                            <i class="fas fa-paperclip"></i>
                            Tải xuống
                        </a>
                    }
                    <br />
                    <input id="ArticleAttach" type="file" name="ArticleAttach" />
                </div>
                <hr />
                <div class="form-group mb-0">
                    <label for="" class="control-label">Danh mục: @ViewBag.CategoryName</label>
                </div>
            </div>
        </div>
    </div>
    <div class="row action-buttons">
        <div class="col-12 col-md-auto">
            <button type="submit" id="btn_Save" class="submit-button btn btn-primary btn-px-4 py-3 d-flex align-items-center font-weight-semibold line-height-1" data-loading-text="Loading..." onclick="Utils.LoadIn();">
                <i class="bx bx-save text-4 mr-2"></i>
                Cập nhật
            </button>
        </div>
        <div class="col-12 col-md-auto px-md-0 mt-3 mt-md-0">
            <button type="button" class="cancel-button btn btn-light btn-px-4 py-3 border font-weight-semibold text-color-dark text-3"
                    onclick="GoBack()">
                Quay về
            </button>
        </div>
        <div class="col-12 col-md-auto ml-md-auto mt-3 mt-md-0">
            <button type="button" id="btn_Delete" class="delete-button btn btn-danger btn-px-4 py-3 d-flex align-items-center font-weight-semibold line-height-1"
                    onclick="Delete('@Model.ArticleKey')">
                <i class="bx bx-trash text-4 mr-2"></i>
                Xóa
            </button>
        </div>
    </div>

    <input id="txt_CategoryKey" type="hidden" value="@ViewBag.CategoryKey" name="CategoryKey" />
    <input id="txt_ArticleKey" type="hidden" value="@Model.ArticleKey" name="ArticleKey" />
</form>

@section scripts{
    <script src="https://cdn.tiny.cloud/1/folv8giv7uv90noxx9w7c88d6er7ryqrfdx8ut7vi96h233p/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
        var URL_List = "@Url.Action("Article_List", "Admin", new { CategoryKey = "_key_" })";
        var URL_Delete = "@Url.Action("Delete_Article", "Admin")";

        function GoBack() {
            var CategoryKey = $("#txt_CategoryKey").val();
            URL_List = URL_List.replace("_key_", CategoryKey);
            window.location = URL_List;
        };
        function Delete_Article(Key) {
            $.confirm({
                type: "red",
                typeAnimated: true,
                title: "Cảnh báo !.",
                content: "Bạn có chắc xóa thông tin này ?.",
                buttons: {
                    confirm: {
                        text: "Đồng ý",
                        btnClass: "btn-red",
                        action: function () {
                            $.ajax({
                                url: URL_Delete,
                                type: "POST",
                                data: {
                                    "ArticleKey": Key
                                },
                                beforeSend: function () {
                                },
                                success: function (r) {
                                    if (r.success) {
                                        GoBack();
                                    }
                                    else {
                                        Utils.OpenNotify(r.message, "Thông báo", "error");
                                    }
                                },
                                error: function (err) {
                                    Utils.OpenNotify(err.responseText, "Thông báo", "error");
                                },
                                complete: function () {
                                }
                            });
                        }
                    },
                    cancel: {
                        text: "Hủy",
                    }
                }
            });
        };
        $(document).ready(function () {
            $("html").addClass("sidebar-left-collapsed");
            $("#chkPublish").change(function () {
                if (this.checked) {
                    $("#txt_Publish").val("true");
                }
                else {
                    $("#txt_Publish").val("false");
                }
            });
            $("#imgpreview").click(function () {
                $("#ArticlePicture").trigger("click");
            });
            $("#ArticlePicture").change(function () {
                Utils.PreviewImg(this, "#imgpreview");
                var str = $("#imgpreview").attr("src");
            });

            tinymce.init({
                selector: "textarea#txt_ArticleContent",
                paste_data_images: true,
                height: 500,
                menubar: false,
                plugins: [
                    "image", "table", "fullscreen",
                    "advlist autolink lists link image charmap print preview anchor",
                    "searchreplace visualblocks code fullscreen",
                    "insertdatetime media table paste code help wordcount"
                ],
                toolbar:
                    "fullscreen | image |" +
                    "table |" +
                    "undo redo | formatselect | " +
                    "bold italic backcolor | alignleft aligncenter " +
                    "alignright alignjustify | bullist numlist outdent indent | " +
                    "removeformat | help",
                content_style: "body { font-family:Helvetica,Arial,sans-serif; font-size:14px }"
            });
        });
    </script>
}
