﻿@{
    Layout = "~/Views/Admin/_Layout.cshtml";

    List<Banner_Model> _ListBanner = new List<Banner_Model>();
    if (ViewBag.ListBanner != null)
    {
        _ListBanner = ViewBag.ListBanner as List<Banner_Model>;
    }
}

<header class="page-header">
    <h2>Các slide hình ảnh</h2>
    <div class="right-wrapper text-right">
        <ol class="breadcrumbs">
            <li>
                <a href="#">
                    <i class="fas fa-home"></i>
                </a>
            </li>
            <li></li>
        </ol>
    </div>
</header>

<div class="row">
    <div class="col-md-12">
        <div class="card border">
            <div class="card-header">
                <button class="float-right btn btn-info" type="button" onclick="Edit(0)">
                    <i class="fa fa-plus"></i>
                    Thêm
                </button>
            </div>

            <div class="card-body">
                @if (TempData["Error"] != null &&
                       TempData["Error"].ToString() != string.Empty)
                {
                    <div class="alert alert-danger">
                        <strong>@TempData["Error"]</strong>.
                    </div>
                }
                @if (_ListBanner.Count > 0)
                {
                    <table class="table table-sm data">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Hình ảnh</th>
                                <th>Nội dung hiển thị kèm theo</th>
                                <th>Ẩn/ hiện</th>
                                <th class="text-right">

                                </th>
                            </tr>
                        </thead>
                        <tbody id="tblBody">
                            @for (int i = 0; i < _ListBanner.Count; i++)
                            {
                                #region [-Data-]
                                var zModel = _ListBanner[i];
                                string Key = zModel.BannerKey.ToString();
                                string No = (i + 1).ToString();
                                string Title = zModel.Title;
                                string Description = zModel.Description;
                                int Rank = zModel.Rank;
                                bool Publish = zModel.Publish;
                                #endregion

                                <tr id="@Key">
                                    <td>@Rank</td>
                                    <td>
                                        <img id="imgpreview" src="@Url.Content(zModel.Url)" alt="your image" style="width:100px; height:50px;" class="rounded-lg" />
                                    </td>
                                    <td>
                                        @Title<br />
                                        @Description
                                    </td>
                                    <td>
                                        @if (zModel.Publish)
                                        {
                                            <div class="switch switch-sm switch-success">
                                                <input type="checkbox" name="switch" data-plugin-ios-switch checked="checked" onchange="Activate(@Key)" />
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="switch switch-sm switch-success">
                                                <input type="checkbox" name="switch" data-plugin-ios-switch onchange="Activate(@Key)" />
                                            </div>
                                        }
                                    </td>
                                    <td class="text-right">
                                        <button type="button" class="btn btn-outline-primary btn-sm modal-with-zoom-anim" onclick="Edit(@Key)">
                                            <i class="far fa-edit"></i>
                                        </button>
                                        <button type="button" class="btn btn-outline-danger btn-sm" onclick="Delete(@Key)">
                                            <i class="fas fa-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <div class="alert alert-primary">
                        <strong>Bạn chưa cập nhật, hoặc không tìm thấy dữ liệu phù hợp !</strong>.
                    </div>
                }
            </div>
            <div class="card-footer">
            </div>
        </div>
    </div>
</div>
<form id="modalEdit" class="zoom-anim-dialog modal-block modal-header-color modal-block-info mfp-hide" 
      onsubmit="return Utils.validate($(this))"
      action="@Url.Action("Save_Banner","Admin")" 
      method="post" enctype="multipart/form-data">
    <div class="card border border-primary">
        <div class="card-header">
            <h2 class="card-title">Thông tin Banner </h2>
        </div>
        <div class="card-body border-primary">
            <div class="form-group row">
                <label for="txt_Title" class="col-lg-5 col-xl-3 control-label text-lg-right">Tiêu đề</label>
                <div class="col-lg-7 col-xl-9">
                    <input type="text" class="form-control" id="txt_Title" value="" placeholder="" required="" name="Title">
                </div>
            </div>
            <div class="form-group row">
                <label for="txt_Description" class="col-lg-5 col-xl-3 control-label text-lg-right">Diễn giải</label>
                <div class="col-lg-7 col-xl-9">
                    <textarea id="txt_Description" rows="3" class="form-control" name="Description"></textarea>
                </div>
            </div>
            <div class="form-group row">
                <label for="txt_Url" class="col-lg-5 col-xl-3 control-label text-lg-right">Ảnh</label>
                <div class="col-lg-7 col-xl-9">
                    <input type="file" id="txt_Url" class="form-control" accept="image/*;capture=camera" name="Banner" />
                </div>
            </div>
            <div class="form-group row">
                <label for="txt_Rank" class="col-lg-5 col-xl-3 control-label text-lg-right">Thứ tự hiển thị</label>
                <div class="col-lg-7 col-xl-9">
                    <input type="number" class="form-control" id="txt_Rank" value="" placeholder="" name="Rank">
                </div>
            </div>
            <div class="form-group row">
                <label for="cbo_Publish" class="col-lg-5 col-xl-3 control-label text-lg-right">Ẩn/ hiện</label>
                <div class="col-lg-7 col-xl-9">
                    <select id="cbo_Publish" class="form-control" name="Publish">
                        <option value="1" selected>Hiển thị</option>
                        <option value="0">Ẩn</option>
                    </select>
                </div>
            </div>
            <div class="card-footer border-primary text-center">
                <button id="btn_Cancel" type="button" class="btn btn-outline-secondary modal-dismiss">
                    <i class="far fa-times-circle"></i>
                    Đóng
                </button>
                <button id="btn_Save" type="submit" class="btn btn-outline-primary modal-confirm">
                    <i class="far fa-save"></i>
                    Cập nhật
                </button>
            </div>
        </div>
        <input id="txt_BannerKey" type="hidden" name="BannerKey" value="0" />
    </div>
</form>
@section scripts{
    <script>
        var URL_Edit = "@Url.Action("Get_Banner", "Admin")";
        var URL_Delete = "@Url.Action("Delete_Banner", "Admin")";
        var URL_Save = "@Url.Action("Save_Banner", "Admin")";
        var URL_Active = "@Url.Action("Activate_Banner", "Admin")";
    </script>
    <script>
        $(document).ready(function () {

        });
        
        function Edit(BannerKey) {
            Utils.OpenMagnific("#modalEdit");
            if (BannerKey > 0) {
                $.ajax({
                    url: URL_Edit,
                    type: "GET",
                    data: {
                        "BannerKey": BannerKey
                    },
                    beforeSend: function () {
                        Utils.LoadIn();
                    },
                    success: function (r) {
                        if (r.success) {
                            var obj = JSON.parse(r.data);
                            $("#txt_BannerKey").val(obj.BannerKey);
                            $("#txt_Title").val(obj.Title);
                            $("#txt_Description").val(obj.Description);
                            $("#txt_Rank").val(obj.Rank);
                            var zPublish = 0;
                            if (obj.Publish == true)
                                zPublish = 1;
                            else
                                zPublish = 0;
                            $("#cbo_Publish").val(zPublish).trigger("change");
                        }
                        else {
                            Utils.OpenNotify(r.message, "Thông báo", "error");
                        }
                    },
                    error: function (err) {
                        Utils.OpenNotify(err.responseText, "Thông báo", "error");
                    },
                    complete: function () {
                        Utils.LoadOut();
                    }
                });
            }
            else {
                Utils.ClearUI("#modalEdit");
                $("#cbo_Rank").val(0);
                $("#txt_BannerKey").val(0);
                $("#cbo_Publish").val(1);
            }
        }
        function Delete(BannerKey) {
            $.confirm({
                type: "red",
                typeAnimated: true,
                title: "Cảnh báo !.",
                content: "Bạn có chắc xóa thông tin này ?.",
                buttons: {
                    confirm: {
                        text: "Đồng ý",
                        btnClass: "btn-red",
                        action: function () {
                            $.ajax({
                                url: URL_Delete,
                                type: "POST",
                                data: {
                                    "BannerKey": BannerKey
                                },
                                beforeSend: function () {

                                },
                                success: function (r) {
                                    if (r.success) {
                                        var elem = $("#" + BannerKey);
                                        Utils.RemoveRow(elem);
                                    }
                                    else {
                                        Utils.OpenNotify(r.message, "Thông báo", "error");
                                    }
                                },
                                error: function (err) {
                                    Utils.OpenNotify(err.responseText, "Thông báo", "error");
                                },
                                complete: function () {

                                }
                            });
                        }
                    },
                    cancel: {
                        text: "Hủy",
                    }
                }
            });
        }
        function Activate(BannerKey) {
            $.ajax({
                url: URL_Active,
                type: "POST",
                data: {
                    "BannerKey": BannerKey,
                },
                beforeSend: function () {

                },
                success: function (r) {
                    if (r.success) {
                        Utils.OpenNotify("Cập nhật tình trạng thành công", "Thông báo", "success");
                    }
                    else {
                        Utils.OpenNotify(r.message, "Thông báo", "error");
                    }
                },
                error: function (err) {
                    Utils.OpenNotify(err.responseText, "Thông báo", "error");
                },
                complete: function () {

                }
            });
        }
    </script>
}