﻿@model Order_Model
@{
    Layout = null;
    var info = new Partner_Info(TN_Helper.PartnerNumber).Partner;
}
<section class="card">
    <div class="card-body">
        <div class="invoice p-0">
            <header class="clearfix">
                <div class="row">
                    <div class="col-sm-6 mt-3">
                        <h2 class="h2 mt-0 mb-1 text-dark font-weight-bold">ĐƠN HÀNG</h2>
                        <h4 class="h4 m-0 text-dark font-weight-bold">@Model.OrderID</h4>
                    </div>
                    <div class="col-sm-6 text-right mt-3 mb-3">
                        <address class="ib">
                            @info.PartnerName
                            <br>
                            Địa chỉ: @info.PartnerAddress
                            <br>
                            Điện thoại: @info.PartnerPhone
                            <br>
                            Esyshop.tnsolution.vn
                        </address>
                        <div class="ib">
                            <img src="@Url.Content(info.Logo_Large)" alt="EsyShop" style="max-width:40%">
                        </div>
                    </div>
                </div>
            </header>
            <div class="bill-info">
                <div class="row">
                    <div class="col-md-6">
                        <div class="bill-to">
                            <p class="h5 mb-1 text-dark font-weight-semibold">Khách hàng:</p>
                            <address>
                                @Model.BuyerName
                                <br>
                                @Model.BuyerAddress
                                <br>
                                @Model.BuyerPhone
                                <br>
                                Ghi chú: @Model.Description
                            </address>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="bill-data text-right">
                            <p class="mb-0">
                                <span class="text-dark">Ngày đặt:</span>
                                <span class="value">@Model.OrderDate.ToString("dd/MM/yyyy")</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <table class="table table-responsive-md invoice-items">
                <thead>
                    <tr class="text-dark">
                        <th id="cell-item" class="font-weight-semibold">Sản phẩm</th>
                        <th id="cell-price" class="text-right font-weight-semibold">Đơn giá</th>
                        <th id="cell-qty" class="text-right font-weight-semibold">Số lượng</th>
                        <th id="cell-total" class="text-right font-weight-semibold">Tạm tính</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var rec in Model.ListItem)
                    {
                        <tr>
                            <td>
                                @rec.ObjectName
                                @{
                                    if (rec.Description.Length > 0)
                                    {
                                        <p class="mb-0">Ghi chú: @rec.Description</p>
                                    }
                                }
                            </td>
                            <td class="text-right">@rec.ObjectPrice.ToString("n0")</td>
                            <td class="text-right">@rec.Quantity</td>
                            <td class="text-right">@rec.Amount.ToString("n0")</td>
                        </tr>
                    }
                </tbody>
            </table>

            <div class="invoice-summary">
                <div class="row justify-content-end">
                    <div class="col-sm-4">
                        <table class="table h6 text-dark">
                            <tbody>
                                <tr class="b-top-0">
                                    <td>Tổng tiền</td>
                                    <td class="text-right">@Model.AmountOrder.ToString("n0")</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer text-right">
        <button type="button" class="btn btn-default modal-dismiss ml-3">Đóng</button>
        <button type="button" class="btn btn-danger modal-dismiss float-left" onclick="Delete('@Model.OrderKey')">Huỷ đơn</button>
        @switch (Model.StatusOrder)
        {
            default:
                break;
            case 1:
                <button type="button" class="btn btn-primary ml-3" onclick="Process('@Model.OrderKey',2)">Xác nhận</button>
                break;

            case 2:
                <button type="button" class="btn btn-success ml-3" onclick="Process('@Model.OrderKey',3)">Đã giao</button>
                break;
        }
        <button type="button" class="btn btn-primary ml-3">
            <i class="fas fa-print"></i> In
        </button>
    </div>
</section>