﻿@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    Layout = "~/Views/Admin/_Layout.cshtml";

    var _ListData = new List<Order_Model>();
    if (ViewBag.ListData != null)
    {
        _ListData = ViewBag.ListData as List<Order_Model>;
    }

    string name = "";
    if (!String.IsNullOrEmpty(HttpContextAccessor.HttpContext.Request.Query["Name"]))
        name = HttpContextAccessor.HttpContext.Request.Query["Name"];

    string id = "";
    if (!String.IsNullOrEmpty(HttpContextAccessor.HttpContext.Request.Query["ID"]))
        id = HttpContextAccessor.HttpContext.Request.Query["ID"];

    string phone = "";
    if (!String.IsNullOrEmpty(HttpContextAccessor.HttpContext.Request.Query["Phone"]))
        name = HttpContextAccessor.HttpContext.Request.Query["Phone"];

    string status = "";
    if (!String.IsNullOrEmpty(HttpContextAccessor.HttpContext.Request.Query["Status"]))
        status = HttpContextAccessor.HttpContext.Request.Query["Status"];
}

<header class="page-header">
    <h2>Các đơn hàng</h2>
    <div class="right-wrapper text-right">
        <ol class="breadcrumbs">
            <li>
                <a href="#">
                    <i class="fas fa-home"></i>
                </a>
            </li>
            <li></li>
        </ol>
    </div>
</header>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h2 class="card-title">Tìm kiếm</h2>
                <div class="card-actions">
                    <a href="#" class="card-action card-action-toggle" data-card-toggle=""></a>
                </div>
            </div>
            <div class="card-body">
                <form method="get" action="@Url.Action("Cart_Result","Admin")" class="row">
                    <div class="col-lg-2">
                        <div class="form-label-group">
                            <input type="text" id="txt_ID" name="ID" class="form-control" placeholder="..." value="@id">
                            <label for="txt_ID">Số đơn hàng</label>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-label-group">
                            <input type="text" id="txt_Name" name="Name" class="form-control" placeholder="..." value="@name">
                            <label for="txt_Name">Họ tên</label>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="form-label-group">
                            <input type="number" id="txt_Phone" name="Phone" class="form-control" placeholder="..." value="@phone">
                            <label for="txt_Phone">Số điện thoại</label>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="form-group">
                            <select class="form-control" name="Status" style="min-height:50px !important;" id="cbo_Status">
                                <option value="0">--Tất cả--</option>
                                <option value="1">Chờ xác nhận</option>
                                <option value="2">Chờ/ đang giao hàng</option>
                                <option value="3">Đã hoàn thành</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-2 d-flex align-items-center">
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">
                                <i class="fa fa-search-plus"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="card border">
            <div class="card-body ">
                @if (TempData["Error"] != null && TempData["Error"].ToString() != string.Empty)
                {
                    <div class="alert alert-danger">
                        <strong>@TempData["Error"]</strong>.
                    </div>
                }
                else
                {
                    if (_ListData.Count > 0)
                    {
                        <table class="table table-no-more table-bordered table-striped mb-0 data">
                            <thead>
                                <tr>
                                    <td>Ngày đặt</td>
                                    <td class="text-nowrap">Số đơn hàng</td>
                                    <td>Khách hàng</td>
                                    <td class="text-right">Tổng tiền</td>
                                    <td>Tình trạng</td>
                                    <td class="text-nowrap">#</td>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    foreach (var rec in _ListData)
                                    {
                                        <tr id="@rec.OrderKey" onclick="View('@rec.OrderKey')">
                                            <td data-title="Ngày đặt">@rec.OrderDate.ToString("dd/MM HH:mm")</td>
                                            <td data-title="Số đơn hàng">@rec.OrderID</td>
                                            <td data-title="Khách hàng">
                                                <div class="row">
                                                    <div class="col-12">
                                                        <b>Địa chỉ:</b> @rec.BuyerAddress
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-6">
                                                        <b>Họ tên:</b> @rec.BuyerName
                                                    </div>
                                                    <div class="col-6">
                                                        <b>SĐT</b> <a href="tel:@rec.BuyerPhone">@rec.BuyerPhone</a>
                                                    </div>
                                                </div>
                                            </td>
                                            <td data-title="Tổng tiền" class="text-right">@rec.AmountOrder.ToString("n0")</td>
                                            <td data-title="Tình trạng">
                                                <h4 class="m-0">
                                                    @{
                                                        switch (rec.StatusOrder)
                                                        {
                                                            case 1:
                                                                <span class="badge badge-circle badge-primary">
                                                                    @rec.StatusName
                                                                    <br />Chờ xác nhận
                                                                </span>
                                                                break;
                                                            case 2:
                                                                <span class="badge badge-circle badge-warning">
                                                                    @rec.StatusName
                                                                    <br />Chờ/ đang giao hàng
                                                                </span>
                                                                break;
                                                            case 3:
                                                                <span class="badge badge-circle badge-success">
                                                                    @rec.StatusName
                                                                    <br />Kết thúc đơn hàng
                                                                </span>
                                                                break;
                                                        }
                                                    }
                                                </h4>
                                            </td>
                                            <td>
                                                @{
                                                    if (rec.StatusOrder < 3)
                                                    {
                                                        switch (rec.StatusOrder)
                                                        {
                                                            default:
                                                            case 1:
                                                                <button type="button" class="btn btn-sm btn-primary" onclick="Process('@rec.OrderKey',1)">Xác nhận</button>
                                                                break;

                                                            case 2:
                                                                <button type="button" class="btn btn-sm btn-success" onclick="Process('@rec.OrderKey',2)">Đã giao</button>
                                                                break;
                                                        }
                                                        <button type="button" class="btn btn-sm btn-danger" onclick="Delete('@rec.OrderKey')">Huỷ đơn</button>
                                                    }
                                                }
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    }
                    else
                    {
                        <div class="alert alert-primary">
                            <strong>Không tìm thấy dữ liệu phù hợp với thông tin bạn tìm kiếm !</strong>.
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script>
        var URL_Delete = "@Url.Action("Delete_Cart", "Admin")";
        var URL_Process = "@Url.Action("Process_Cart", "Admin")";
        $(document).ready(function () {
            $("html").addClass("sidebar-left-collapsed");

            var ss = Utils.GetUrlParameter("Status");
            $("#cbo_Status").val(ss);
        });
        function Delete(OrderKey) {
            $.confirm({
                type: "red",
                typeAnimated: true,
                title: "Cảnh báo !.",
                content: "Bạn có chắc xóa thông tin này ?.",
                buttons: {
                    confirm: {
                        text: "Đồng ý",
                        btnClass: "btn-red",
                        action: function () {
                            $.ajax({
                                url: URL_Delete,
                                type: "POST",
                                data: {
                                    "OrderKey": OrderKey
                                },
                                beforeSend: function () {
                                },
                                success: function (r) {
                                    if (r.success) {
                                        var elm = $("#" + OrderKey);
                                        Utils.RemoveRow(elm);
                                    }
                                    else {
                                        Utils.OpenNotify(r.message, "Thông báo", "error");
                                    }
                                },
                                error: function (err) {
                                    Utils.OpenNotify(err.responseText, "Thông báo", "error");
                                },
                                complete: function () {
                                }
                            });
                        }
                    },
                    cancel: {
                        text: "Hủy",
                    }
                }
            });
        }
        function View(OrderKey) {

        }
        function Process(id, ss) {
            var statusname = "";
            if (ss === 2) {
                statusname = "Đã xác nhận";
            }
            if (ss === 3) {
                statusname = "Đã giao hàng";
            }

            $.ajax({
                url: URL_Process,
                type: "POST",
                data: {
                    "OrderKey": id,
                    "Status": ss,
                    "StatusName": statusname
                },
                beforeSend: function () {
                },
                success: function (r) {
                    if (r.success) {
                        location.reload();
                        /*Utils.OpenNotify("Cập nhật tình trạng thành công", "Thông báo", "success");*/
                    }
                    else {
                        Utils.OpenNotify(r.message, "Thông báo", "error");
                    }
                },
                error: function (err) {
                    Utils.OpenNotify(err.responseText, "Thông báo", "error");
                },
                complete: function () {
                }
            });
        }
    </script>
}