﻿@{
    Layout = "~/Views/Admin/_Layout.cshtml";

    var _ListConfig = new List<Config_Model>();
    var _ListParent = new List<Config_Model>();
    if (ViewBag.ListConfig != null)
    {
        _ListConfig = ViewBag.ListConfig as List<Config_Model>;
        _ListParent = _ListConfig.Where(s => s.Parent == 0).ToList();
    }

    var _ListArticle = new List<Article_Model>();
    if (ViewBag.ListArticle != null)
    {
        _ListArticle = ViewBag.ListArticle as List<Article_Model>;
    }
    var _ListCategory = new List<Article_Category_Model>();
    if (ViewBag.ListCategory != null)
    {
        _ListCategory = ViewBag.ListCategory as List<Article_Category_Model>;
    }
}

<header class="page-header">
    <h2>Tùy chỉnh nội dung trang chủ</h2>
    <div class="right-wrapper text-right">
        <ol class="breadcrumbs">
            <li>
                <a href="#">
                    <i class="fas fa-home"></i>
                </a>
            </li>
            <li></li>
        </ol>
    </div>
</header>
<div class="row">
    <div class="col-md-10">
        <div class="card border ">
            <div class="card-header ">
                <button class="modal-with-zoom-anim btn btn-info float-right" type="button" onclick="Edit(0)">
                    <i class="fa fa-plus"></i>
                    Thêm mới
                </button>
            </div>
            <div class="card-body ">
                @if (TempData["Error"] != null &&
                    TempData["Error"].ToString() != string.Empty)
                {
                    <div class="alert alert-danger">
                        <strong>@TempData["Error"]</strong>.
                    </div>
                }
                else
                {
                    if (_ListConfig.Count > 0)
                    {
                        <table class="table table-sm">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>ID</th>
                                    <th>Tiêu đề</th>
                                    <th>Nội dung</th>
                                    <th class="text-right">

                                    </th>
                                </tr>
                            </thead>
                            <tbody id="tblBody">
                                @for (int i = 0; i < _ListConfig.Count; i++)
                                {
                                    #region [Data]
                                    var zModel = _ListConfig[i];
                                    string Key = zModel.ConfigKey.ToString();
                                    string No = (i + 1).ToString();
                                    string ID = zModel.ConfigID;
                                    string Name = zModel.Name;
                                    string Value = zModel.Value;
                                    #endregion

                                    <tr id="@Key">
                                        <th>@No</th>
                                        <td>@ID</td>
                                        <td>@Name</td>
                                        <td>@Value</td>
                                        <td class="text-right">
                                            <button type="button" class="btn btn-outline-primary btn-sm modal-with-zoom-anim" onclick="Edit(@Key)">
                                                <i class="far fa-edit"></i>
                                            </button>
                                            <button type="button" class="btn btn-outline-danger btn-sm" onclick="Delete(@Key)">
                                                <i class="fas fa-trash"></i>
                                            </button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                    else
                    {
                        <div class="alert alert-primary">
                            <strong>Bạn chưa cập nhật, hoặc không tìm thấy dữ liệu phù hợp !</strong>.
                        </div>
                    }
                }
            </div>
            <div class="card-footer ">
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="card">
            <div class="card-header">
                <h4 class="title">Logo Website</h4>
            </div>
            <div class="card-body">
                @if (ViewBag.Logo.Length <= 0)
                {
                    <img id="imgpreview" src="~/themes/admin/img/noimg.png" alt="your image" style="width:100%" />
                }
                else
                {
                    <img id="imgpreview" src="@Url.Content(ViewBag.Logo)" alt="your image" style="width:100%" />
                }
            </div>
            <div class="card-footer">Click vào hình để thay logo</div>
            <input type="file" id="Logo" class="form-control d-none" name="Picture" accept="image/*;capture=camera" />
        </div>
    </div>
</div>
<div id="modalEdit" class="zoom-anim-dialog modal-block modal-header-color modal-block-info mfp-hide">
    <div class="card border ">
        <div class="card-header">
            <h2 class="card-title">Chi tiết</h2>
        </div>
        <div class="card-body ">

            <div class="form-group row">
                <label for="cbo_Parent" class="col-lg-5 col-xl-3 control-label text-lg-right">Danh mục cha</label>
                <div class="col-lg-7 col-xl-9">
                    <select class="form-control select2" name="cbo_Parent" id="cbo_Parent">
                        <option value="0" selected>--//--</option>
                        @foreach (var rec in _ListParent)
                        {
                            <option value="@rec.ConfigKey">@rec.Name</option>
                        }
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="txt_Name" class="col-lg-5 col-xl-3 control-label text-lg-right">ID nhóm</label>
                <div class="col-lg-7 col-xl-9">
                    <input type="text" class="form-control" id="txt_ConfigID" value="" placeholder="Định danh vị trí" name="ConfigID">
                </div>
            </div>
            <div class="form-group row">
                <label for="txt_Name" class="col-lg-5 col-xl-3 control-label text-lg-right">Tiêu đề</label>
                <div class="col-lg-7 col-xl-9">
                    <input type="text" class="form-control" id="txt_Name" value="" placeholder="" name="Name">
                </div>
            </div>

            <div class="form-group row">
                <label for="cbo_Category" class="col-lg-5 col-xl-3 control-label text-lg-right">Liên kết nội dung</label>
                <div class="col-lg-7 col-xl-9">
                    <select id="cbo_Type" class="form-control select2" name="Type">
                        <option value="0">--Chọn--</option>
                        <option value="1">Bài viết chi tiết</option>
                        <option value="2">Danh mục</option>
                    </select>
                </div>
            </div>

            <div class="form-group row" id="divBlog" style="display:none">
                <label for="cbo_Category" class="col-lg-5 col-xl-3 control-label text-lg-right">Nội dung chi tiết</label>
                <div class="col-lg-7 col-xl-9">
                    <select id="cbo_Article" class="form-control select2" name="ValueArticle">
                        <option value="0">--Chọn--</option>
                        @{
                            foreach (var rec in _ListArticle)
                            {
                                <option value="@rec.ArticleKey">@rec.ArticleName</option>
                            }
                        }
                    </select>
                </div>
            </div>

            <div class="form-group row" id="divList" style="display:none">
                <label for="cbo_Category" class="col-lg-5 col-xl-3 control-label text-lg-right">Danh mục tin tức</label>
                <div class="col-lg-7 col-xl-9">
                    <select id="cbo_Category" class="form-control select2" name="ValueCategory">
                        @{
                            <option value="0">--Chọn--</option>
                            foreach (var rec in _ListCategory)
                            {
                                <option value="@rec.CategoryKey">@rec.CategoryName</option>
                            }
                        }
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label for="txt_Rank" class="col-lg-5 col-xl-3 control-label text-lg-right">Thứ tự hiển thị</label>
                <div class="col-lg-7 col-xl-9">
                    <input type="number" class="form-control" id="txt_Rank" value="0" placeholder="">
                </div>
            </div>
            <div class="card-footer text-center">
                <button id="btn_Cancel" type="button" class="btn btn-outline-secondary modal-dismiss">
                    <i class="far fa-times-circle"></i>
                    Đóng
                </button>
                <button id="btn_Save" type="button" class="btn btn-outline-primary" onclick="Save()">
                    <i class="far fa-save"></i>
                    Cập nhật
                </button>
            </div>
        </div>
    </div>

    <input id="txt_Slug" type="hidden" name="Slug" value="0" />
    <input id="txt_CategoryName" type="hidden" name="CategoryName" value="0" />
    <input id="txt_ArticleName" type="hidden" name="ArticleName" value="0" />
    <input id="txt_ConfigKey" type="hidden" name="ConfigKey" value="0" />
</div>
@section Scripts{
    <script>
        var URL_Edit = "@Url.Action("Get_Config", "Admin")";
        var URL_Delete = "@Url.Action("Delete_Config", "Admin")";
        var URL_Save = "@Url.Action("Save_Config", "Admin")";
        var URL_Logo = "@Url.Action("Change_Logo", "Admin")";
    </script>
    <script>
        $(document).ready(function () {
            $("#imgpreview").click(function () {
                $("#Logo").trigger("click");
            });
            $("#Logo").change(function () {
                Utils.PreviewImg(this, "#imgpreview");
                var str = $("#imgpreview").attr("src");

                var fileupload = $("#Logo").get(0);
                var files = fileupload.files;
                var data = new FormData();
                data.append("Logo", files[0]);

                $.ajax({
                    url: URL_Logo,
                    type: "POST",
                    contentType: false,
                    processData: false,
                    data: data,
                    beforeSend: function () {

                    },
                    success: function (r) {
                        if (r.success) {
                            Utils.OpenNotify("Cập nhật thành công !.", "Thông báo", "success");
                        }
                        else {
                            Utils.OpenNotify(r.message, "Thông báo", "error");
                        }
                    },
                    error: function (err) {
                        Utils.OpenNotify(err.responseText, "Thông báo", "error");
                    },
                    complete: function () {

                    }
                });
            });

            $("#cbo_Type").change(function () {
                var val = $(this).val();
                if (val === "1") {
                    $("#divBlog").show();
                    $("#divList").hide();
                }
                if (val === "2") {
                    $("#divList").show();
                    $("#divBlog").hide();
                }
            });

            $("#cbo_Article").change(function () {
                var txt = $(this).find("option:selected").text();
                $("#txt_ArticleName").val(txt);
            });
            $("#cbo_Category").change(function () {
                var txt = $(this).find("option:selected").text();
                $("#txt_CategoryName").val(txt);
            });
        });

        function Save() {
            var form = $("#modalEdit");
            if (Utils.validate(form)) {

                var ConfigKey = $("#txt_ConfigKey").val();
                var ConfigID = $("#txt_ConfigID").val();
                var Name = $("#txt_Name").val();
                var Rank = $("#txt_Rank").val();
                var Parent = $("#cbo_Parent").val();
                var Value = $("#cbo_Article").val();
                var Type = $("#cbo_Type").val();

                if (Type === "1") {
                    Value = $("#cbo_Article").val();
                    $("#txt_Slug").val(1);
                }
                if (Type === "2") {
                    Value = $("#cbo_Category").val();
                    $("#txt_Slug").val(2);
                }
                var Slug = $("#txt_Slug").val();
                $.ajax({
                    url: URL_Save,
                    type: "POST",
                    data: {
                        "ConfigKey": ConfigKey,
                        "ConfigID": ConfigID,
                        "Name": Name,
                        "Value": Value,
                        "Rank": Rank,
                        "Parent": Parent,
                        "Slug": Slug
                    },
                    beforeSend: function () {
                        Utils.LoadIn();
                    },
                    success: function (r) {
                        if (r.success) {
                            location.reload();
                        }
                        else {
                            Utils.OpenNotify(r.message, "Thông báo", "error");
                        }
                    },
                    error: function (err) {
                        Utils.OpenNotify(err.responseText, "Thông báo", "error");
                    },
                    complete: function () {
                        Utils.LoadOut();
                    }
                });
            }
        }
        function Edit(ConfigKey) {
            Utils.OpenMagnific("#modalEdit");
            if (ConfigKey > 0) {
                $.ajax({
                    url: URL_Edit,
                    type: "GET",
                    data: {
                        "ConfigKey": ConfigKey
                    },
                    beforeSend: function () {
                        Utils.LoadIn();
                    },
                    success: function (r) {
                        if (r.success) {
                            var obj = JSON.parse(r.data);
                            $("#txt_ConfigKey").val(obj.ConfigKey);
                            $("#txt_ConfigID").val(obj.ConfigID);
                            $("#txt_Name").val(obj.Name);
                            $("#txt_Rank").val(obj.Rank);
                            $("#cbo_Parent").val(obj.Parent).trigger("change");
                            $("#cbo_Article").val(obj.Value).trigger("change");
                        }
                        else {
                            Utils.OpenNotify(r.message, "Thông báo", "error");
                        }
                    },
                    error: function (err) {
                        Utils.OpenNotify(err.responseText, "Thông báo", "error");
                    },
                    complete: function () {
                        Utils.LoadOut();
                    }
                });
            }
            else {
                Utils.ClearUI("#modalEdit");
                $("#txt_ConfigKey").val(0);
                $("#txt_Rank").val(0);
                $("#txt_Parent").val(0);
            }
        }
        function Delete(ConfigKey) {
            $.confirm({
                type: "red",
                typeAnimated: true,
                title: "Cảnh báo !.",
                content: "Bạn có chắc xóa thông tin này ?.",
                buttons: {
                    confirm: {
                        text: "Đồng ý",
                        btnClass: "btn-red",
                        action: function () {
                            $.ajax({
                                url: URL_Delete,
                                type: "POST",
                                data: {
                                    "ConfigKey": ConfigKey
                                },
                                beforeSend: function () {

                                },
                                success: function (r) {
                                    if (r.success) {
                                        var elem = $("#" + ConfigKey);
                                        Utils.RemoveRow(elem);
                                    }
                                    else {
                                        Utils.OpenNotify(r.message, "Thông báo", "error");
                                    }
                                },
                                error: function (err) {
                                    Utils.OpenNotify(err.responseText, "Thông báo", "error");
                                },
                                complete: function () {

                                }
                            });
                        }
                    },
                    cancel: {
                        text: "Hủy",
                    }
                }
            });
        }
    </script>
}