﻿@{
    Layout = "~/Views/Admin/_Layout.cshtml";

    var _ListProduct = new List<Product_Model>();
    if (ViewBag.ListProduct != null)
    {
        _ListProduct = ViewBag.ListProduct as List<Product_Model>;
    }
}
<header class="page-header">
    <h2>Danh mục sản phẩm</h2>
    <div class="right-wrapper text-right">
        <ol class="breadcrumbs">
            <li>
                <a href="#">
                    <i class="fas fa-home"></i>
                </a>
            </li>
            <li></li>
        </ol>
    </div>
</header>
<div class="row">
    <div class="col-md-12">
        <div class="card border">
            <div class="card-header ">
                <button type="button" class="float-right btn btn-info" id="btn_New">
                    <i class="fa fa-plus"></i>
                    Thêm mới
                </button>
            </div>
            <div class="card-body ">
                @if (TempData["Error"] != null && 
                       TempData["Error"].ToString() != string.Empty)
                {
                    <div class="alert alert-danger">
                        <strong>@TempData["Error"]</strong>.
                    </div>
                }
                else
                {
                    if (_ListProduct.Count > 0)
                    {
                        <table class="table table-sm data">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Hình đại diện</th>
                                    <th>Sản phẩm</th>
                                    <th>Mô tả</th>
                                    <th class="text-right">Giá cũ</th>
                                    <th class="text-right">Giá mới</th>
                                    <th></th>
                                    <th>

                                    </th>
                                </tr>
                            </thead>
                            <tbody id="tblBody">
                                @for (int i = 0; i < _ListProduct.Count; i++)
                                {
                                    #region [--Data--]
                                    var zRec = _ListProduct[i];
                                    string Key = zRec.ProductKey;
                                    string No = (i + 1).ToString();
                                    string Name = zRec.ProductName;
                                    string Description = zRec.Description;
                                    string Summarize = zRec.ProductSummarize;
                                    string Photo = zRec.PhotoPath;
                                    string NewCost = zRec.SalePrice.ToString();
                                    string OldCost = zRec.StandardCost.ToString();
                                    int CategoryKey = zRec.CategoryKey;
                                    bool Publish = zRec.Publish;
                                    #endregion

                                    <tr id="@Key">
                                        <th>@No</th>
                                        <th>
                                            @if (Photo == string.Empty)
                                            {
                                                <img src="~/theme/admin/img/noimg.png" alt="product" class="rounded" style="object-fit:cover; height:80px">
                                            }
                                            else
                                            {
                                                <img src="@Url.Content(Photo)" alt="product" class="rounded" style="object-fit: cover; height: 80px">
                                            }
                                        </th>
                                        <td>@Name</td>
                                        <td class="d-inline-block text-truncate" style="max-width:400px">@Description</td>
                                        <td class="text-right number" style="width:100px">@OldCost</td>
                                        <td class="text-right number" style="width:100px">@NewCost</td>
                                        <td>
                                            @if (Publish)
                                            {
                                                <div class="switch switch-sm switch-success">
                                                    <input type="checkbox" name="switch" data-plugin-ios-switch checked="checked" onchange="Activate('@Key')" />
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="switch switch-sm switch-success">
                                                    <input type="checkbox" name="switch" data-plugin-ios-switch onchange="Activate('@Key')" />
                                                </div>
                                            }
                                        </td>
                                        <td>
                                            <a class="btn btn-outline-primary btn-sm modal-with-zoom-anim"
                                               asp-controller="Admin"
                                               asp-action="Product_Edit"
                                               asp-route-CategoryKey="@CategoryKey"
                                               asp-route-ProductKey="@Key">
                                                <i class="far fa-edit"></i>
                                            </a>
                                            <button type="button" class="btn btn-outline-danger btn-sm" onclick="Delete('@Key')">
                                                <i class="fas fa-trash"></i>
                                            </button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                    else
                    {
                        <div class="alert alert-primary">
                            <strong>Bạn chưa cập nhật, hoặc không tìm thấy dữ liệu phù hợp !</strong>.
                        </div>
                    }
                }
            </div>
            <div class="card-footer ">
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        var URL_Publish = "@Url.Action("Publish_Product", "Admin")";
        var URL_Delete = "@Url.Action("Delete_Product", "Admin")";
        var URL_Edit = "@Url.Action("Product_Edit", "Admin", new { ProductKey = 0, CategoryKey="_cate_" })";
    </script>
    <script>
        $(document).ready(function () {
            $("html").addClass("sidebar-left-collapsed");
            $("#btn_New").click(function () {
                var sPageURL = window.location.href;
                var sTmp = sPageURL.split("/");
                var sParam = sTmp[sTmp.length - 1];
                URL_Edit = URL_Edit.replace("_cate_", sParam);
                window.location = URL_Edit;
            });
        })
        function Delete(ProductKey) {
            $.confirm({
                type: "red",
                typeAnimated: true,
                title: "Cảnh báo !.",
                content: "Bạn có chắc xóa thông tin này ?.",
                buttons: {
                    confirm: {
                        text: "Đồng ý",
                        btnClass: "btn-red",
                        action: function () {
                            $.ajax({
                                url: URL_Delete,
                                type: "POST",
                                data: {
                                    "ProductKey": ProductKey
                                },
                                beforeSend: function () {
                                },
                                success: function (r) {
                                    if (r.success) {
                                        var elm = $("#" + ProductKey);
                                        Utils.RemoveRow(elm);
                                    }
                                    else {
                                        Utils.OpenNotify(r.message, "Thông báo", "error");
                                    }
                                },
                                error: function (err) {
                                    Utils.OpenNotify(err.responseText, "Thông báo", "error");
                                },
                                complete: function () {
                                }
                            });
                        }
                    },
                    cancel: {
                        text: "Hủy",
                    }
                }
            });
        }
        function Activate(ProductKey) {
            $.ajax({
                url: URL_Publish,
                type: "POST",
                data: {
                    "ProductKey": ProductKey,
                },
                beforeSend: function () {

                },
                success: function (r) {
                    if (r.success) {
                        Utils.OpenNotify("Cập nhật tình trạng thành công", "Thông báo", "success");
                    }
                    else {
                        Utils.OpenNotify(r.message, "Thông báo", "error");
                    }
                },
                error: function (err) {
                    Utils.OpenNotify(err.responseText, "Thông báo", "error");
                },
                complete: function () {

                }
            });
        }
    </script>
}