﻿@{
    Layout = "~/Views/Admin/_Layout.cshtml";

    var _ListCategory = new List<Product_Category_Model>();
    var _ListParent = new List<Product_Category_Model>();
    if (ViewBag.ListCategory != null)
    {
        _ListCategory = ViewBag.ListCategory as List<Product_Category_Model>;
        _ListParent = _ListCategory.Where(s => s.Parent == 0).ToList();
    }
}

<header class="page-header">
    <h2>Phân loại sản phẩm</h2>
    <div class="right-wrapper text-right">
        <ol class="breadcrumbs">
            <li>
                <a href="#">
                    <i class="fas fa-home"></i>
                </a>
            </li>
            <li></li>
        </ol>
    </div>
</header>
<div class="row">
    <div class="col-md-12">
        <div class="card border ">
            <div class="card-header ">
                <button class="modal-with-zoom-anim btn btn-info float-right" type="button" onclick="Edit(0)">
                    <i class="fa fa-plus"></i>
                    Thêm mới
                </button>
            </div>
            <div class="card-body ">
                @if (TempData["Error"] != null && 
                       TempData["Error"].ToString() != string.Empty)
                {
                    <div class="alert alert-danger">
                        <strong>@TempData["Error"]</strong>.
                    </div>
                }
                else
                {
                    if (_ListCategory.Count > 0)
                    {
                        <table class="table table-sm">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Tên danh mục</th>
                                    <th>Diễn giải</th>
                                    <th>Thứ tự</th>
                                    <th class="text-right">
                                        
                                    </th>
                                </tr>
                            </thead>
                            <tbody id="tblBody">
                                @for (int i = 0; i < _ListCategory.Count; i++)
                                {
                                    #region [Data]
                                    var zModel = _ListCategory[i];
                                    string Key = zModel.CategoryKey.ToString();
                                    string No = (i + 1).ToString();
                                    string CategoryName = zModel.CategoryName;
                                    string Description = zModel.Description;
                                    int Rank = zModel.Rank;
                                    bool Publish = zModel.Publish;
                                    #endregion

                                <tr id="@Key">
                                    <th>@No</th>
                                    <td>@CategoryName</td>
                                    <td>@Description</td>
                                    <td>@Rank</td>
                                    <td>
                                        @if (Publish)
                                        {
                                            <div class="switch switch-sm switch-success">
                                                <input type="checkbox" name="switch" data-plugin-ios-switch checked="checked" onchange="Activate(@Key)" />
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="switch switch-sm switch-success">
                                                <input type="checkbox" name="switch" data-plugin-ios-switch onchange="Activate(@Key)" />
                                            </div>
                                        }
                                    </td>
                                    <td class="text-right">
                                        <button type="button" class="btn btn-outline-primary btn-sm modal-with-zoom-anim" onclick="Edit(@Key)">
                                            <i class="far fa-edit"></i>
                                        </button>
                                        <button type="button" class="btn btn-outline-danger btn-sm" onclick="Delete(@Key)">
                                            <i class="fas fa-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    }
                    else
                    {
                        <div class="alert alert-primary">
                            <strong>Bạn chưa cập nhật, hoặc không tìm thấy dữ liệu phù hợp !</strong>.
                        </div>
                    }
                }
            </div>
            <div class="card-footer ">
            </div>
        </div>

    </div>
</div>
<div id="modalEdit" class="zoom-anim-dialog modal-block modal-header-color modal-block-info mfp-hide">
    <div class="card border ">
        <div class="card-header">
            <h2 class="card-title">Chi tiết</h2>
        </div>
        <div class="card-body ">

            <div class="form-group row">
                <label for="cbo_Parent" class="col-lg-5 col-xl-3 control-label text-lg-right">Danh mục cha</label>
                <div class="col-lg-7 col-xl-9">
                    <select class="form-control select2" name="cbo_Parent" id="cbo_Parent">
                        <option value="0" selected>--//--</option>
                        @foreach (var rec in _ListParent)
                        {
                            <option value="@rec.CategoryKey">@rec.CategoryName</option>
                        }
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label for="txt_CategoryName" class="col-lg-5 col-xl-3 control-label text-lg-right">Tên danh mục</label>
                <div class="col-lg-7 col-xl-9">
                    <input type="text" class="form-control" id="txt_CategoryName" value="" placeholder="" required>
                </div>
            </div>
            <div class="form-group row">
                <label for="txt_Description" class="col-lg-5 col-xl-3 control-label text-lg-right">Diễn giải</label>
                <div class="col-lg-7 col-xl-9">
                    <input type="text" class="form-control " id="txt_Description" value="" placeholder="" required>
                </div>
            </div>
            <div class="form-group row">
                <label for="txt_Rank" class="col-lg-5 col-xl-3 control-label text-lg-right">Thứ tự hiển thị</label>
                <div class="col-lg-7 col-xl-9">
                    <input type="number" class="form-control" id="txt_Rank" value="0" placeholder="" required>
                </div>
            </div>
            <div class="card-footer text-center">
                <button id="btn_Cancel" type="button" class="btn btn-outline-secondary modal-dismiss">
                    <i class="far fa-times-circle"></i>
                    Đóng
                </button>
                <button id="btn_Save" type="button" class="btn btn-outline-primary" onclick="Save()">
                    <i class="far fa-save"></i>
                    Cập nhật
                </button>
            </div>
        </div>
    </div>
    <input id="txt_CategoryKey" type="hidden" name="CategoryKey" value="0" />
</div>
@section Scripts{
    <script>
        var URL_Edit = "@Url.Action("Get_Product_Category", "Admin")";
        var URL_Delete = "@Url.Action("Delete_Product_Category", "Admin")";
        var URL_Save = "@Url.Action("Save_Product_Category", "Admin")";
        var URL_Publish = "@Url.Action("Publish_Product_Category", "Admin")";
    </script>
    <script>
        $(document).ready(function () {

        });

        function Save() {
            var form = $("#modalEdit");
            if (Utils.validate(form)) {

                var CategoryKey = $("#txt_CategoryKey").val();
                var CategoryName = $("#txt_CategoryName").val();
                var Description = $("#txt_Description").val();
                var Rank = $("#txt_Rank").val();
                var Parent = $("#cbo_Parent").val();

                $.ajax({
                    url: URL_Save,
                    type: "POST",
                    data: {
                        "CategoryKey": CategoryKey,
                        "CategoryName": CategoryName,
                        "Description": Description,
                        "Rank": Rank,
                        "Parent": Parent,
                    },
                    beforeSend: function () {
                        Utils.LoadIn();
                    },
                    success: function (r) {
                        if (r.success) {
                            location.reload();
                        }
                        else {
                            Utils.OpenNotify(r.message, "Thông báo", "error");
                        }
                    },
                    error: function (err) {
                        Utils.OpenNotify(err.responseText, "Thông báo", "error");
                    },
                    complete: function () {
                        Utils.LoadOut();
                    }
                });
            }
        }
        function Edit(CategoryKey) {
            Utils.OpenMagnific("#modalEdit");
            if (CategoryKey > 0) {
                $.ajax({
                    url: URL_Edit,
                    type: "GET",
                    data: {
                        "CategoryKey": CategoryKey
                    },
                    beforeSend: function () {
                        Utils.LoadIn();
                    },
                    success: function (r) {
                        if (r.success) {
                            var obj = JSON.parse(r.data);
                            $("#txt_CategoryKey").val(obj.CategoryKey);
                            $("#txt_CategoryName").val(obj.CategoryName);
                            $("#txt_Description").val(obj.Description);
                            $("#txt_Rank").val(obj.Rank);
                            $("#cbo_Parent").val(obj.Parent).trigger("change");
                        }
                        else {
                            Utils.OpenNotify(r.message, "Thông báo", "error");
                        }
                    },
                    error: function (err) {
                        Utils.OpenNotify(err.responseText, "Thông báo", "error");
                    },
                    complete: function () {
                        Utils.LoadOut();
                    }
                });
            }
            else {
                Utils.ClearUI("#modalEdit");
                $("#txt_CategoryKey").val(0);
                $("#txt_Rank").val(0);
                $("#txt_Parent").val(0);
            }
        }
        function Delete(CategoryKey) {
            $.confirm({
                type: "red",
                typeAnimated: true,
                title: "Cảnh báo !.",
                content: "Bạn có chắc xóa thông tin này ?.",
                buttons: {
                    confirm: {
                        text: "Đồng ý",
                        btnClass: "btn-red",
                        action: function () {
                            $.ajax({
                                url: URL_Delete,
                                type: "POST",
                                data: {
                                    "CategoryKey": CategoryKey
                                },
                                beforeSend: function () {

                                },
                                success: function (r) {
                                    if (r.success) {
                                        var elem = $("#" + CategoryKey);
                                        Utils.RemoveRow(elem);
                                    }
                                    else {
                                        Utils.OpenNotify(r.message, "Thông báo", "error");
                                    }
                                },
                                error: function (err) {
                                    Utils.OpenNotify(err.responseText, "Thông báo", "error");
                                },
                                complete: function () {

                                }
                            });
                        }
                    },
                    cancel: {
                        text: "Hủy",
                    }
                }
            });
        }
        function Activate(CategoryKey) {
            $.ajax({
                url: URL_Publish,
                type: "POST",
                data: {
                    "CategoryKey": CategoryKey,
                },
                beforeSend: function () {

                },
                success: function (r) {
                    if (r.success) {
                        Utils.OpenNotify("Cập nhật tình trạng thành công", "Thông báo", "success");
                    }
                    else {
                        Utils.OpenNotify(r.message, "Thông báo", "error");
                    }
                },
                error: function (err) {
                    Utils.OpenNotify(err.responseText, "Thông báo", "error");
                },
                complete: function () {

                }
            });
        }
    </script>
}