﻿@using Newtonsoft.Json
@model Product_Model
@section Styles{
    <style>
        .input-group-text {
            font-size: 13px;
            width: 100px;
        }

        .hide {
            display: none;
        }

        .picView {
            position: relative;
        }

            .picView:hover > .hide {
                display: block;
            }

        .xoa {
            position: absolute;
            bottom: 0;
            border-radius: 0;
            background-color: #d9514d66 !important;
        }
    </style>
}
<header class="page-header">
    <h2>Chi tiết sản phẩm</h2>
    <div class="right-wrapper text-right">
        <ol class="breadcrumbs">
            <li>
                <a href="#">
                    <i class="fas fa-home"></i>
                </a>
            </li>
            <li></li>
        </ol>
    </div>
</header>
@if (ViewBag.Message != null)
{
    string Message = ViewBag.Message;
    <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <strong>@Message</strong>
    </div>
}
<form class="ecommerce-form action-buttons-fixed row" method="post" enctype="multipart/form-data" action="@Url.Action("Save_Product", "Admin")">

    <div class="col-md-8">
        <div class="form-group mb-1 pt-1">
            <label for="txt_ProductName" class="control-label">Tên mặt hàng</label>
            <input type="text" class="form-control" id="txt_ProductName" name="ProductName" value="@Model.ProductName" placeholder="" required="" />
        </div>
        <div class="form-group mb-1 pt-1">
            <label for="txt_Summarize" class="control-label">Mô tả ngắn</label>
            <div class="">
                <textarea id="txt_Summarize" rows="3" class="form-control" name="Description" required="">@Model.Description</textarea>
            </div>
        </div>
        <div class="form-group mb-1 pt-1">
            <label for="txt_ProductContent" class="control-label">Mô tả chi tiết</label>
            <textarea id="txt_ProductContent" rows="4" cols="10" name="Summarize" style="min-height:500px;">@Model.ProductSummarize</textarea>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body bg-white">
                <div class="form-group mb-1 pt-1">
                    <label for="" class="control-label">Ẩn/ hiện trang chủ</label>
                    @if (Model.FrontPage)
                    {
                        <div class="switch switch-sm switch-success float-right">
                            <input type="checkbox" name="switch" data-plugin-ios-switch checked="checked" value="true" id="chkFrontPage" />
                        </div>
                    }
                    else
                    {
                        <div class="switch switch-sm switch-success float-right">
                            <input type="checkbox" name="switch" data-plugin-ios-switch value="false" id="chkFrontPage" />
                        </div>
                    }
                </div>
                <div class="form-group mb-1 pt-1">
                    <label for="" class="control-label">Ẩn/ hiện sản phẩm</label>
                    @if (Model.Publish)
                    {
                        <div class="switch switch-sm switch-success float-right">
                            <input type="checkbox" name="switch" data-plugin-ios-switch checked="checked" value="true" id="chkPublish" />
                        </div>
                    }
                    else
                    {
                        <div class="switch switch-sm switch-success float-right">
                            <input type="checkbox" name="switch" data-plugin-ios-switch value="false" id="chkPublish" />
                        </div>
                    }
                </div>

                <div class="form-group mb-1 pt-1 input-group">
                    <span class="input-group-prepend">
                        <span class="input-group-text" style="font-size:13px">
                            Giá cũ
                        </span>
                    </span>
                    <input type="text" class="form-control form-control-modern number" name="StandardCost" value="@Model.StandardCost" required="" min="0" />
                </div>
                <div class="form-group mb-1 pt-1 input-group">
                    <span class="input-group-prepend">
                        <span class="input-group-text" style="font-size:13px">
                            Giá mới
                        </span>
                    </span>
                    <input type="text" class="form-control form-control-modern number" name="SalePrice" value="@Model.SalePrice" required="" min="0" />
                </div>
                <hr />
                <div class="form-group text-center">
                    @if (Model.PhotoPath.Length <= 0)
                    {
                        <img id="imgpreview" src="~/themes/admin/img/noimg.png" alt="your image" style="max-height:200px" />
                    }
                    else
                    {
                        <img id="imgpreview" src="@Url.Content(Model.PhotoPath)" alt="your image" style="max-height: 200px" />
                    }
                    <input type="file" id="ProductPicture" class="form-control d-none" name="Picture" accept="image/*;capture=camera" />
                </div>
                <hr />
                <input type="file" id="ProductPicture" class="form-control" name="ListPicture" accept="image/*;capture=camera" multiple="" />
                @if (Model.PhotoList.Length > 0)
                {
                    <div class="popup-gallery">
                        @{
                            var ListPicture = JsonConvert.DeserializeObject<List<Product_Photo_Model>>(Model.PhotoList);
                            foreach (var rec in ListPicture)
                            {
                                <div class="float-left mb-1 pt-1 mr-1 picView" id="@rec.PhotoKey">
                                    <a class="" href="@rec.PhotoPath" title="Project 1">
                                        <div class="img-fluid">
                                            <img src="@Url.Content(rec.PhotoPath)" width="105" height="105">
                                        </div>
                                    </a>
                                    <button type="button" class="btn-block btn btn-danger btn-sm hide xoa" onclick="Delete_Photo('@rec.PhotoKey')">
                                        <i class="bx bx-trash"></i>
                                        Xóa
                                    </button>
                                </div>
                            }
                        }
                    </div>
                }
            </div>
        </div>
    </div>

    <div class="row action-buttons">
        <div class="col-12 col-md-auto">
            <button type="submit" id="btn_Save" class="submit-button btn btn-primary btn-px-4 py-3 d-flex align-items-center font-weight-semibold line-height-1" data-loading-text="Loading...">
                <i class="bx bx-save text-4 mr-2"></i>
                Cập nhật
            </button>
        </div>
        <div class="col-12 col-md-auto px-md-0 mt-3 mt-md-0">
            <button type="button" class="cancel-button btn btn-light btn-px-4 py-3 border font-weight-semibold text-color-dark text-3"
                    onclick="GoBack()">
                Quay về
            </button>
        </div>
        <div class="col-12 col-md-auto ml-md-auto mt-3 mt-md-0">
            <button type="button" id="btn_Delete" class="delete-button btn btn-danger btn-px-4 py-3 d-flex align-items-center font-weight-semibold line-height-1" onclick="Delete('@Model.ProductKey')">
                <i class="bx bx-trash text-4 mr-2"></i>
                Xóa
            </button>
        </div>
    </div>

    <input id="txt_CategoryKey" type="hidden" value="@ViewBag.CategoryKey" name="CategoryKey" />
    <input id="txt_ProductKey" type="hidden" value="@Model.ProductKey" name="ProductKey" />
    <input id="txt_FrontPage" type="hidden" value="@Model.FrontPage.ToBool().ToString()" name="FrontPage" />
    <input id="txt_Publish" type="hidden" value="@Model.Publish.ToBool().ToString()" name="Publish" />
</form>

@section Scripts{
    <script>
        var URL_Delete_Photo = "@Url.Action("Delete_Photo", "Admin")";
        var URL_Delete = "@Url.Action("Delete_Product", "Admin")";
        var URL_List = "@Url.Action("Product_List", "Admin", new { CategoryKey = "_key_" })";
        var URL_Check_ProductID = "@Url.Action("Check_ProductID", "Admin")";
    </script>
    <script src="https://cdn.tiny.cloud/1/folv8giv7uv90noxx9w7c88d6er7ryqrfdx8ut7vi96h233p/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script>

        //const userAgent = navigator.userAgent.toLowerCase();
        //const isTablet = /(ipad|tablet|(android(?!.*mobile))|(windows(?!.*phone)(.*touch))|kindle|playbook|silk|(puffin(?!.*(IP|AP|WP))))/.test(userAgent);
        //var width = $(window).width();
        //if (isTablet || width <= 1366) {
        //    $("html").addClass("sidebar-left-collapsed");
        //}

        $(document).ready(function () {
            $("html").addClass("sidebar-left-collapsed");
            console.log($("#txt_FrontPage").val());
            $("#chkFrontPage").change(function () {
                if (this.checked) {
                    $("#txt_FrontPage").val("true");
                }
                else {
                    $("#txt_FrontPage").val("false");
                }
                console.log($("#txt_FrontPage").val());
            });
            $("#chkPublish").change(function () {
                if (this.checked) {
                    $("#txt_Publish").val("true");
                }
                else {
                    $("#txt_Publish").val("false");
                }
                console.log($("#txt_Publish").val());
            });

            $("#imgpreview").click(function () {
                $("#ProductPicture").trigger("click");
            });
            $("#ProductPicture").change(function () {
                Utils.PreviewImg(this, "#imgpreview");
                var str = $("#imgpreview").attr("src");
            });

            tinymce.init({
                selector: "textarea#txt_ProductContent",
                paste_data_images: true,
                height: 500,
                menubar: false,
                plugins: [
                    "image", "table", "fullscreen",
                    "advlist autolink lists link image charmap print preview anchor",
                    "searchreplace visualblocks code fullscreen",
                    "insertdatetime media table paste code help wordcount"
                ],
                toolbar:
                    "fullscreen | image |" +
                    "table |" +
                    "undo redo | formatselect | " +
                    "bold italic backcolor | alignleft aligncenter " +
                    "alignright alignjustify | bullist numlist outdent indent | " +
                    "removeformat | help",
                content_style: "body { font-family:Helvetica,Arial,sans-serif; font-size:14px }"
            });

            $('.popup-gallery').magnificPopup({
                delegate: 'a',
                type: 'image',
                tLoading: 'Loading image #%curr%...',
                mainClass: 'mfp-img-mobile',
                gallery: {
                    enabled: true,
                    navigateByImgClick: true,
                    preload: [0, 1] // Will preload 0 - before current, and 1 after the current image
                },
                image: {
                    tError: '<a href="%url%">The image #%curr%</a> could not be loaded.'
                }
            });
        });
         $("#txt_ProductName").blur(function () {
            var ProductKey = $("#txt_ProductKey").val();
            var ProductName = $("#txt_ProductName").val();
            if (ProductName == null || ProductName == '') {
                Utils.OpenNotify("Vui lòng nhập tên sản phẩm", "Thông báo", "warning");
                return;
            }
            $.ajax({
                url: URL_Check_ProductID,
                type: "POST",
                data: {
                    "ProductKey": ProductKey,
                    "ProductName": ProductName
                },
                beforeSend: function () {
                },
                success: function (r) {
                    if (!r.success) {
                        Utils.OpenNotify(r.message, "Tên sản phẩm trùng", "error");
                    }
                },
                error: function (err) {
                    Utils.OpenNotify(err.responseText, "Thông báo", "error");
                },
                complete: function () {
                }
            });
        });
        function GoBack() {
            var CategoryKey = $("#txt_CategoryKey").val();
            URL_List = URL_List.replace("_key_", CategoryKey);
            window.location = URL_List;
        };
        function Delete(ProductKey) {
            $.confirm({
                type: "red",
                typeAnimated: true,
                title: "Cảnh báo !.",
                content: "Bạn có chắc xóa thông tin này ?.",
                buttons: {
                    confirm: {
                        text: "Đồng ý",
                        btnClass: "btn-red",
                        action: function () {
                            $.ajax({
                                url: URL_Delete,
                                type: "POST",
                                data: {
                                    "ProductKey": ProductKey
                                },
                                beforeSend: function () {
                                },
                                success: function (r) {
                                    if (r.success) {
                                        window.location = URL_List;
                                    }
                                    else {
                                        Utils.OpenNotify(r.message, "Thông báo", "error");
                                    }
                                },
                                error: function (err) {
                                    Utils.OpenNotify(err.responseText, "Thông báo", "error");
                                },
                                complete: function () {
                                }
                            });
                        }
                    },
                    cancel: {
                        text: "Hủy",
                    }
                }
            });
        }
        function Delete_Photo(PhotoKey) {
            $.ajax({
                url: URL_Delete_Photo,
                type: "POST",
                data: {
                    "PhotoKey": PhotoKey
                },
                beforeSend: function () {
                },
                success: function (r) {
                    if (r.success) {
                        var elm = $("#" + PhotoKey);
                        Utils.RemoveRow(elm);
                    }
                    else {
                        Utils.OpenNotify(r.message, "Thông báo", "error");
                    }
                },
                error: function (err) {
                    Utils.OpenNotify(err.responseText, "Thông báo", "error");
                },
                complete: function () {
                }
            });
        }
    </script>
}
