﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
    <title>EsyShop</title>
    <meta name="keywords" content="HTML5 Template" />
    <meta name="description" content="EsyShop">
    <meta name="author" content="TN SOLUTION">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <script type="text/javascript">
        WebFontConfig = {
            google: { families: ['Open+Sans:300,400,600,700,800', 'Poppins:300,400,500,600,700,800'] }
        };
        (function (d) {
            var wf = d.createElement('script'), s = d.scripts[0];
            wf.src = '@Url.Content("~/themes/frontend/js/webfont.js")';
            wf.async = true;
            s.parentNode.insertBefore(wf, s);
        })(document);
    </script>
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="@Url.Content("~/themes/frontend/css/bootstrap.min.css")">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="@Url.Content("~/themes/frontend/css/style.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/themes/frontend/vendor/fontawesome-free/css/all.min.css")">
    @await RenderSectionAsync("Styles", false)
    <style>
        label {
            font-family: "Open Sans",sans-serif !important;
            font-size: 1.4rem !important;
        }

        .menu > li:hover > a,
        .menu > li.show > a,
        .menu > li.active > a {
            color: #d94a48 !important;
        }

        .main-nav .menu > li.active > a,
        .main-nav .menu > li > a:hover {
            border-top-color: #d94a48 !important;
        }

        .inner-quickview figure .btn-quickview {
            background-color: #dc3545 !important;
        }

        .form-control {
            font-size: 1.4rem !important;
        }
    </style>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8239467783664907"
            crossorigin="anonymous"></script> 
</head>
<body>
    <div class="page-wrapper">
        <header class="header">
            @await Component.InvokeAsync("HeaderMiddle")
            @await Component.InvokeAsync("MainMenu")
        </header>
        <main class="main">
            @RenderBody()
        </main>
        @await Component.InvokeAsync("Footer", "Footer")
    </div>
    @await Component.InvokeAsync("MobileMenu")
    <div class="modal fade" id="addCartModal" tabindex="-1" role="dialog" aria-labelledby="addCartModal"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body add-cart-box text-center">
                    <p>Đã thêm sản phẩm vào<br>giỏ hàng:</p>
                    <h4 id="productTitle"></h4>
                    <img src="#" id="productImage" width="100" height="100" alt="adding cart image">
                    <div class="btn-actions">
                        <a href="@Url.Action("Cart","Member")">
                            <div class="btn-primary">Xem giỏ hàng</div>
                        </a>
                        <a href="#">
                            <div class="btn-primary" data-dismiss="modal">Tiếp tục</div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a id="scroll-top" href="#top" title="Top" role="button"><i class="icon-angle-up"></i></a>
    <!-- Plugins JS File -->
    <script src="@Url.Content("~/themes/frontend/js/jquery.min.js")"></script>
    <script src="@Url.Content("~/themes/frontend/js/bootstrap.bundle.min.js")"></script>
    <script src="@Url.Content("~/themes/frontend/js/optional/isotope.pkgd.min.js")"></script>
    <script src="@Url.Content("~/themes/frontend/js/plugins.min.js")"></script>
    <script src="@Url.Content("~/themes/admin/js/jquery.number.js")"></script>
    <!-- Main JS File -->
    <script src="@Url.Content("~/themes/frontend/js/main.js")"></script>
    @await RenderSectionAsync("Scripts", false)
    <script>
        var URL_AddToCart = "@Url.Action("AddToCart", "Member")";
        var URL_Cart = "@Url.Action("Cart", "Member")";
        $(document).on("click", ".btn-add-cart,.add-cart", function () {
            var no = parseFloat($("#cart").text());
            if (isNaN(no)) {
                no = 1;
            }
            else {
                no = no + 1;
            }

            $("#cart").text(no);
            var id = $(this).attr("key");

            $.post(URL_AddToCart, { "ProductKey": id },
                function (r) {
                    if (r.success) {
                        if ($(".add-cart").length > 0) {
                            $(".mfp-close").trigger("click");
                            $('body').append("<div class='ajax-overlay'><i class='porto-loading-icon'></i></div>");
                            window.location = URL_Cart;
                        }
                    }
                    else {
                        alert("Error Popup Add");
                    }
                }
            )
        });
        $("a").click(function () {
            var href = $(this).attr("href");
            if (str.indexOf("#") >= 0) {
                //tìm thấy #
                $('body').append("<div class='ajax-overlay'><i class='porto-loading-icon'></i></div>");
            }
            else {
                if (href.indexOf("tel:") >= 0) {
                    $('.ajax-overlay').remove();
                }
            }
        });
    </script>
</body>
</html>