﻿@model List<Banner_Model>

<div class="home-slider owl-carousel owl-theme owl-carousel-lazy show-nav-hover nav-big mb-2 text-uppercase"
     data-owl-options="{
				'loop': true
			}">
    @{
        for (int i = 0; i < Model.Count; i++)
        {

            var zRec = Model[i];
            string UrlPhoto = zRec.Url;

            <div class="home-slide home-slide1 banner">
                <img class="owl-lazy slide-bg" src="@Url.Content(UrlPhoto)" data-src="@Url.Content(UrlPhoto)" alt="slider image">
            </div>
            <!-- End .home-slide -->
        }
    }
</div>
<!-- End .home-slider -->