﻿
@{

    var ListCot3 = new List<Config_Model>();
    if (ViewBag.COT3 != null)
    {
        ListCot3 = ViewBag.COT3 as List<Config_Model>;
    }
}

<footer class="footer bg-dark">
    <div class="footer-middle">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="widget">
                        <h4 class="widget-title">Liên hệ</h4>
                        <ul class="contact-info">
                            <li>
                                <strong>Công ty cổ phần TN SOLUTION</strong>
                            </li>
                            <li>
                                <span class="contact-info-label">Địa chỉ</span>
                                96/14 Tân Mỹ, Kp4, P.Tân Thuận Tây, Q7 TPHCM
                            </li>
                            <li>
                                <span class="contact-info-label">Điện thoại</span>
                                <a href="tel:02862706069">(028) 6270 6069</a>
                            </li>
                            <li>
                                <span class="contact-info-label">Hot line</span>
                                <a href="tel:0902106212">090 210 6212</a>
                            </li>
                            <li>
                                <span class="contact-info-label">Email</span>
                                <a href="mailto:info@tnsolution.vn">info@tnsolution.vn</a>
                            </li>
                            <li>
                                <span class="contact-info-label">Giờ làm việc</span>
                                T2 - T7 / 9:30AM - 5:30 PM
                            </li>
                        </ul>                        
                    </div><!-- End .widget -->
                </div><!-- End .col-lg-3 -->

                <div class="col-lg-3 col-sm-6">
                    <div class="widget">
                        <h4 class="widget-title">Hỗ trợ khách hàng</h4>

                        <ul class="links">
                            <li><a href="tel:02862706069">Bảo hành (028) 6270 6069</a></li>
                            <li><a href="tel:0902106212">Hot line 090 210 6212</a></li>
                        </ul>
                    </div><!-- End .widget -->
                </div><!-- End .col-lg-3 -->

                <div class="col-lg-3 col-sm-6">
                    <div class="widget">
                        <h4 class="widget-title">Quy định nhà bán hàng</h4>
                        <ul class="links">
                            @{
                                foreach (var rec in ListCot3)
                                {
                                    string Name = rec.Name;
                                    string Link = "/bai-viet/" + rec.Value;

                                    <li><a href="@Link">@Name</a></li>
                                }
                            }
                        </ul>
                    </div><!-- End .widget -->
                </div><!-- End .col-lg-3 -->

                <div class="col-lg-3 col-sm-6">
                    <div class="widget widget-newsletter">
                        <h4 class="widget-title">Đăng ký nhận tin khuyến mãi</h4>
                        <form action="#" class="mb-0">
                            <input type="email" class="form-control m-b-3" placeholder="Nhập email của bạn" required="">
                            <input type="submit" class="btn btn-primary shadow-none" value="Đăng ký">
                        </form>
                    </div><!-- End .widget -->
                </div><!-- End .col-lg-3 -->
            </div><!-- End .row -->
        </div><!-- End .container -->
    </div><!-- End .footer-middle -->

    <div class="container">
        <div class="footer-bottom d-flex justify-content-between align-items-center flex-wrap">
            <p class="footer-copyright py-3 pr-4 mb-0">Công ty cổ phần TN SOLUTION giấy phép số 0315501585 </p>
            <img src="@Url.Content("~/themes/frontend/images/payments.png") " alt="payment methods" class="footer-payments py-3">
        </div>
        <!-- End .footer-bottom -->
    </div>
    <!-- End .container -->
</footer>