﻿@using Microsoft.AspNetCore.Html
@model List<Article_Model>
@{
    var Icon = new string[] { "<i class='fas fa-chess-queen'></i>", "<i class='fas fa-chart-line'></i>", "<i class='fas fa-swatchbook'></i>" };
}
<div class="service-section bg-light pb-90" style="padding-top: 50px; margin-top: 20px">
    <div class="container">
        <div class="row text-center mb-10">
            <div class="section-title" data-aos="fade-up" data-aos-delay="100">
                <h3 class="title">@ViewBag.Title</h3>
                Chúng tôi làm việc với sự tư duy sáng tạo, phù hợp với từng khách hàng và cho ra những sản phẩm chuyên nghiệp theo xu hướng mới nhất.
            </div>
        </div>
        <div class="row mb-n10">
            @{
                int no = 0;
                foreach (var record in Model)
                {
                    string Key = record.ArticleKey;
                    string Title = record.ArticleName;
                    string Summarize = record.Summarize;
                    string Link = "/bai-viet/" + Key;

                    <div class="col-lg-4 col-md-6 mb-10">
                        <div class="single-service-wrapper" data-aos="fade-up" data-aos-delay="100">
                            <a href="@Link">
                                <div class="service-icon" style="background-color:#272a73 ">
                                    @(new HtmlString(Icon[no]))
                                </div>
                                <div class="service-content">
                                    <h4 class="title">@Title</h4>
                                    <p class="desc-content">@Summarize</p>
                                </div>
                            </a>
                        </div>
                    </div>

                    no++;
                }
            }
        </div>
    </div>
</div>