﻿@model List<Article_Model>
<div class="testimonial-section bg-transparent mt-90">
    <div class="container">
        <div class="row pb-3">
            <div class="section-title text-center aos-init aos-animate" data-aos="fade-up" data-aos-delay="200" data-aos-anchor-placement="bottom bottom">
                <h4 class="title">@ViewBag.Title</h4>
                <h6 class="sub-title">Đã và đang sử dụng dịch vụ của chúng tôi</h6>
            </div>
        </div>
        <div class="row pt-5">
            <div class="col-12">
                <div class="single-slide-1 swiper-container" data-aos="fade-up" data-aos-delay="300">
                    <div class="swiper-wrapper">
                        @{
                            foreach (var rec in Model)
                            {
                                string Photo = Url.Content(rec.ImageLarge);
                                string Summarize = rec.Summarize;


                                <div class="testimonial swiper-slide">
                                    <div class="testimonial-author-image" style="height: 150px; background-size: contain; background-repeat: no-repeat; background-position: center; background-image:url('@Photo')">

                                    </div>
                                    <p>@Summarize</p>
                                </div>
                            }
                        }
                    </div>
                    <!-- Slider pagination -->
                    <div class="swiper-pagination default-pagination"></div>
                </div>
            </div>
        </div>
    </div>
</div>