﻿@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json
@{
    var auth = HttpContextAccessor.HttpContext.Request.Cookies["member"];
    var obj = new Auth();
    if (auth != null)
    {
        obj = JsonConvert.DeserializeObject<Auth>(auth);
    }

    string tmp = Context.Session.GetString("Order");
    float total = 0;
    double amount = 0;
    Order_Model Order = new Order_Model();
    if (!string.IsNullOrEmpty(tmp))
    {
        Order = JsonConvert.DeserializeObject<Order_Model>(tmp);
        total = Order.ListItem.Sum(s => s.Quantity);
        amount = Order.ListItem.Sum(s => s.Amount);
    }
}
<div class="header-top d-none">
    <div class="container">
        <div class="header-left d-none d-sm-block">
            <p class="top-message text-uppercase"></p>
        </div><!-- End .header-left -->

        <div class="header-right header-dropdowns ml-0 ml-sm-auto w-sm-100">
            <!-- End .header-dropown -->

            <span class="separator"></span>

            <!-- End .header-dropown -->
            <!-- End .header-dropown -->

            <span class="separator"></span>

            <div class="social-icons">
                <fb:login-button scope="public_profile,email"
                                 onlogin="checkLoginState();">
                </fb:login-button>

            </div><!-- End .social-icons -->
        </div><!-- End .header-right -->
    </div><!-- End .container -->
</div>
<div class="header-middle">
    <div class="container">
        <div class="header-left col-lg-2 w-auto pl-0">
            <button class="mobile-menu-toggler text-primary mr-2" type="button">
                <i class="icon-menu"></i>
            </button>
            <a class="logo" asp-controller="Home" asp-action="Index">
                <img src="@Url.Content(ViewBag.Logo)" alt="Porto Logo" style="height:40px">
            </a>
        </div>
        <!-- End .header-left -->
        <div class="header-right w-lg-max">
            <div class="header-icon header-icon header-search header-search-inline header-search-category w-lg-max text-right"></div>
            <div class="header-contact d-none d-lg-flex pl-4 ml-3 mr-xl-5 pr-4">
                <img alt="phone" src="@Url.Content("~/themes/frontend/images/phone.png")" width="30" height="30" class="pb-1">
                <h6>Bán hàng<a href="tel:0902106212" class="text-dark font1">0902 106 212</a></h6>
            </div>
            @{
                if (obj.UserName != string.Empty)
                {
                    <a asp-controller="Member" asp-action="Index" class="header-icon">
                        <i class="icon-user-2"></i>
                        @obj.UserName
                    </a>
                    <a href="#" class="header-icon">
                        <i class="icon-wishlist-2"></i>
                    </a>
                }
                else
                {
                    <a asp-controller="Member" asp-action="Login" class="header-icon login-link d-none">
                        <i class="icon-user-2"></i>
                    </a>
                }
            }
            <div class="dropdown cart-dropdown">
                <a href="@Url.Action("Cart","Member")" class="dropdown-toggle">
                    <i class="icon-shopping-cart"></i>
                    <span class="cart-count badge-circle" id="cart">@total</span>
                </a>
                @*
                    <div class="dropdown-menu show">
                        <div class="dropdownmenu-wrapper">
                            <div class="dropdown-cart-header">
                                <span>2 Items</span>
                                <a asp-controller="Member" asp-action="Cart" class="float-right">Xem giỏ hàng</a>
                            </div>
                            <div class="dropdown-cart-products">
                                @{
                                    foreach (var rec in Order.ListItem)
                                    {
                                        string Key = rec.ObjectKey;
                                        string Name = rec.ObjectName;
                                        string Price = rec.ObjectPrice.ToString("n0");
                                        string Qty = rec.Quantity.ToString();
                                        string Photo = Url.Content(rec.PhotoPath);

                                        <div class="product">
                                            <div class="product-details">
                                                <h4 class="product-title">
                                                    <a href="@Url.Action("Product_Quick","Home", new {ProductKey = Key })" class="btn-quickview">@Name</a>
                                                </h4>

                                                <span class="cart-product-info">
                                                    <span class="cart-product-qty">@Qty</span>
                                                    x @Price
                                                </span>
                                            </div><!-- End .product-details -->

                                            <figure class="product-image-container">
                                                <a href="@Url.Action("Product_Quick","Home", new {ProductKey = Key })" class="product-image btn-quickview">
                                                    <img src="@Photo" alt="product" width="80" height="80">
                                                </a>
                                                <a href="#" class="btn-remove icon-cancel" title="Remove Product" productkey="@Key"></a>
                                            </figure>
                                        </div>
                                    }
                                }

                                <!-- End .product -->
                            </div>
                            <div class="dropdown-cart-total">
                                <span>Tổng</span>
                                <span class="cart-total-price float-right">@amount.ToString("n0")</span>
                            </div>
                            <!-- End .dropdown-cart-total -->

                            <div class="dropdown-cart-action">
                                <a asp-controller="Member" asp-action="CheckOut" class="btn btn-dark btn-block">Thanh toán</a>
                            </div>
                            <!-- End .dropdown-cart-total -->
                        </div>
                        <!-- End .dropdownmenu-wrapper -->
                    </div>
                    <!-- End .dropdown-menu -->
                *@
            </div>
            <!-- End .dropdown -->
        </div>
        <!-- End .header-right -->
    </div>
    <!-- End .container -->
</div>