﻿@model List<Product_Category_Model>
<div class="widget">
    <h3 class="widget-title">
        <a data-toggle="collapse" href="#widget-body-2" role="button" aria-expanded="true" aria-controls="widget-body-2">@ViewBag.CategoryName</a>
    </h3>

    <div class="collapse show" id="widget-body-2">
        <div class="widget-body">
            <ul class="cat-list">
                @{
                    foreach (var rec in Model)
                    {
                        <li><a asp-controller="Home" asp-action="Product_List" asp-route-CategoryKey="@rec.CategoryKey">@rec.CategoryName</a></li>
                    }
                }
            </ul>
        </div><!-- End .widget-body -->
    </div><!-- End .collapse -->
</div>