﻿@model List<Menu_WebSite_Model>
@{
    var ListParent = Model.Where(s => s.Parent == 0).ToList();
}
<div class="sticky-wrapper" style="">
    <div class="header-bottom sticky-header d-none d-lg-block" style="">
        <div class="container">
            <nav class="main-nav w-100">
                <ul class="menu">
                    <li class="active">
                        <a asp-controller="Home" asp-action="Index">Trang chủ</a>
                    </li>
                    @{
                        foreach (var parent in ListParent)
                        {
                            #region [----]
                            string parentlink = "#";
                            string parentName = parent.MenuName;
                            string parentParamater = parent.Paramater;
                            string parentAction = parent.Action;
                            int parentType = parent.TypeKey;
                            #endregion

                            var ListChild = Model.Where(s => s.Parent == parent.MenuKey).ToList();
                            if (ListChild.Count > 0)
                            {
                                <li>
                                    <a href="#" class="nolink">
                                        @parentName
                                    </a>
                                    <ul class="submenu">
                                        @{
                                            foreach (var child in ListChild)
                                            {
                                                #region [----]
                                                string childName = child.MenuName;
                                                string childAction = child.Action;
                                                string childParamater = child.Paramater;
                                                int childType = child.TypeKey;
                                                string childLink = "#";
                                                #endregion

                                                switch (childType)
                                                {
                                                    case 1:
                                                        childLink = "/bai-viet/" + childParamater;
                                                        break;

                                                    case 2:
                                                        childLink = "/tin-tuc/" + childParamater;
                                                        break;

                                                    case 3:
                                                        break;

                                                    case 4:
                                                        childLink = "/danh-muc/" + childParamater;
                                                        break;
                                                }

                                                <li>
                                                    <a href="@childLink">@childName</a>
                                                </li>
                                            }
                                        }
                                    </ul>
                                </li>
                            }
                            else
                            {
                                switch (parentType)
                                {
                                    case 1:
                                        parentlink = "/bai-viet/" + parentParamater;
                                        break;

                                    case 2:
                                        parentlink = "/tin-tuc/" + parentParamater;
                                        break;

                                    case 3:
                                        break;

                                    case 4:
                                        parentlink = "/danh-muc/" + parentParamater;
                                        break;
                                }

                                <li>
                                    <a href="@parentlink">
                                        <span class="menu-text">
                                            @parentName
                                        </span>
                                    </a>
                                </li>
                            }
                        }
                    }
                    <li><a asp-controller="Home" asp-action="Contact">Liên hệ</a></li>
                </ul>
            </nav>
        </div><!-- End .container -->
    </div>
</div>