﻿@model List<Menu_WebSite_Model>
@{
    var ListParent = Model.Where(s => s.Parent == 0).ToList();
}
<div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->

<div class="mobile-menu-container">
    <div class="mobile-menu-wrapper">
        <span class="mobile-menu-close"><i class="icon-cancel"></i></span>
        <nav class="mobile-nav">

            <ul class="mobile-menu">
                <li class="active">
                    <a asp-controller="Home" asp-action="Index">Trang chủ</a>
                </li>
                @{
                    foreach (var parent in ListParent)
                    {
                        #region [----]
                        string parentlink = "#";
                        string parentName = parent.MenuName;
                        string parentParamater = parent.Paramater;
                        string parentAction = parent.Action;
                        int parentType = parent.TypeKey;
                        #endregion

                        var ListChild = Model.Where(s => s.Parent == parent.MenuKey).ToList();
                        if (ListChild.Count > 0)
                        {
                            <li>
                                <a href="#" class="nolink">
                                    @parentName
                                </a>
                                <ul class="submenu">
                                    @{
                                        foreach (var child in ListChild)
                                        {
                                            #region [----]
                                            string childName = child.MenuName;
                                            string childAction = child.Action;
                                            string childParamater = child.Paramater;
                                            int childType = child.TypeKey;
                                            string childLink = "#";
                                            #endregion
                                            switch (childType)
                                            {
                                                case 1:
                                                    childLink = "/bai-viet/" + childParamater;
                                                    break;

                                                case 2:
                                                    childLink = "/tin-tuc/" + childParamater;
                                                    break;

                                                case 3:
                                                    break;

                                                case 4:
                                                    childLink = "/danh-muc/" + childParamater;
                                                    break;
                                            }
                                            <li>
                                                <a href="@childLink">@childName</a>
                                            </li>
                                        }
                                    }
                                </ul>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a href="@parentlink">
                                    <span class="menu-text">
                                        @parentName
                                    </span>
                                </a>
                            </li>
                        }
                    }
                }
            </ul>
        </nav><!-- End .mobile-nav -->

        <div class="social-icons">
            <a href="#" class="social-icon" target="_blank"><i class="icon-facebook"></i></a>
            <a href="#" class="social-icon" target="_blank"><i class="icon-twitter"></i></a>
            <a href="#" class="social-icon" target="_blank"><i class="icon-instagram"></i></a>
        </div><!-- End .social-icons -->
    </div><!-- End .mobile-menu-wrapper -->
</div><!-- End .mobile-menu-container -->