﻿@model List<Product_Model>
<section class="featured-products-section">
    <div class="container">
        <h2 class="section-title heading-border ls-20 border-0">SẢN PHẨM MỚI</h2>

        <div class="products-slider custom-products owl-carousel owl-theme nav-outer show-nav-hover nav-image-center" data-owl-options="{
                        'dots': false,
                        'nav': true
                    }">

            @{
                for (int i = 0; i < Model.Count; i++)
                {
                    #region [--Data--]
                    var zRec = Model[i];
                    string Key = zRec.ProductKey;
                    string No = (i + 1).ToString();
                    string ProductName = zRec.ProductName;
                    string ProductID = zRec.ProductID;
                    string Photo = zRec.PhotoPath;
                    string CategoryName = zRec.CategoryName;
                    double StandardCost = zRec.StandardCost;
                    double SalePrice = zRec.SalePrice;
                    if (Photo == string.Empty)
                    {
                        Photo = "~/theme/admin/img/noimg.png";
                    }
                    #endregion

                    <div class="product-default">
                        <figure>
                            <a asp-controller="Home" asp-action="Product_View" asp-route-ProductID="@ProductID">
                                <img src="@Url.Content(Photo)" alt="product" class="rounded" style="object-fit: cover">
                            </a>
                        </figure>
                        <div class="product-details">
                            <div class="category-list">
                                <a class="product-category" asp-controller="Home" asp-action="Product_View" asp-route-ProductID="@ProductID">@CategoryName</a>
                            </div>
                            <h3 class="product-title">
                                <a asp-controller="Home" asp-action="Product_View" asp-route-ProductID="@ProductID">@ProductName</a>
                            </h3>
                            <div class="ratings-container">
                                <div class="product-ratings">
                                    <span class="ratings" style="width:80%"></span><!-- End .ratings -->
                                    <span class="tooltiptext tooltip-top"></span>
                                </div><!-- End .product-ratings -->
                            </div><!-- End .product-container -->
                            <div class="price-box">
                                <del class="old-price">@StandardCost.ToString("n0")</del>
                                <span class="product-price">@SalePrice.ToString("n0")</span>
                            </div><!-- End .price-box -->
                            <div class="product-action row">
                                <a href="#" class="btn-icon-wish" style="visibility:hidden">
                                    <i class="icon-heart"></i>
                                </a>
                                <button class="btn-icon btn-add-cart" data-toggle="modal" data-target="#addCartModal" key="@Key">
                                    Thêm vào giỏ
                                </button>
                                <a href="@Url.Action("Product_Quick","Home", new {ProductID = ProductID })" class="btn-quickview" title="Quick View">
                                    <i class="fas fa-external-link-alt"></i>
                                </a>
                            </div>
                        </div><!-- End .product-details -->
                    </div>

                }
            }
        </div><!-- End .featured-proucts -->
    </div>
</section>
