﻿@model List<Product_Model>

<h2 class="section-title">@ViewBag.Title</h2>
<div class="products-slider owl-carousel owl-theme dots-top">
    @{
        foreach (var rec in Model)
        {
            #region [--Data--]
            string Key = rec.ProductKey;
            string ProductName = rec.ProductName;
            string ProductID = rec.ProductID;
            string Photo = rec.PhotoPath;
            string CategoryName = rec.CategoryName;
            double StandardCost = rec.StandardCost;
            double SalePrice = rec.SalePrice;
            if (Photo == string.Empty)
            {
                Photo = "~/themes/admin/img/noimg.png";
            }
            #endregion

            <div class="product-default inner-quickview inner-icon">
                <figure>
                    <a asp-controller="Home" asp-action="Product_View" asp-route-ProductID="@ProductID">
                        <img src="@Url.Content(Photo)">
                    </a>
                    <div class="btn-icon-group">
                        <button class="btn-icon btn-add-cart" data-toggle="modal" data-target="#addCartModal">
                            <i class="icon-shopping-cart"></i>
                        </button>
                    </div>
                    <a href="@Url.Action("Product_Quick","Home", new {ProductID = ProductID })" class="btn-quickview" title="Quick View">Xem nhanh</a>
                </figure>
                <div class="product-details">
                    <div class="category-wrap">
                        <div class="category-list">
                            <a asp-controller="Home" asp-action="Product_View" asp-route-ProductID="@ProductID">@CategoryName</a>
                        </div>
                    </div>
                    <h3 class="product-title">
                        <a asp-controller="Home" asp-action="Product_View" asp-route-ProductID="@ProductID">@ProductName</a>
                    </h3>
                    <div class="ratings-container">
                        <div class="product-ratings">
                            <span class="ratings" style="width:100%"></span><!-- End.ratings -->
                            <span class="tooltiptext tooltip-top"></span>
                        </div><!-- End.product-ratings -->
                    </div><!-- End.ratings-container -->
                    <div class="price-box">
                        <del class="old-price">@StandardCost.ToString("n0")</del>
                        <span class="product-price">@SalePrice.ToString("n0")</span>
                    </div><!-- End.price-box -->
                </div><!-- End.product-details -->
            </div>
        }
    }
</div>