﻿@model List<ParamProductGroupComponent>
    <div class="product-widgets-container row mb-2 pb-2">
        @{
            foreach (var rec in Model)
            {
                string Name = rec.GroupName;
                var ListData = rec.GroupData;

                <div class="col-lg-3 col-sm-6 pb-5 pb-md-0">
                    <h4 class="section-sub-title mb-2">@Name</h4>
                    @foreach (var item in ListData)
                    {
                        <div class="product-default left-details product-widget">
                            <figure>
                                <a asp-controller="Home" asp-action="Product_View" asp-route-ProductID="@item.ProductID">
                                    <img src="@Url.Content(item.PhotoPath)">
                                </a>
                            </figure>
                            <div class="product-details">
                                <h2 class="product-title">
                                    <a asp-controller="Home" asp-action="Product_View" asp-route-ProductID="@item.ProductID">@item.ProductName</a>
                                </h2>
                                <div class="ratings-container">
                                    <div class="product-ratings">
                                        <span class="ratings" style="width:100%"></span><!-- End .ratings -->
                                        <span class="tooltiptext tooltip-top">5.00</span>
                                    </div><!-- End .product-ratings -->
                                </div><!-- End .product-container -->
                                <div class="price-box">
                                    <del class="old-price">@item.StandardCost.ToString("n0")</del>
                                    <span class="product-price">@item.SalePrice.ToString("n0")</span>
                                </div><!-- End .price-box -->
                            </div><!-- End .product-details -->
                        </div>
                    }
                </div>
            }
        }
    </div>