﻿@model Order_Model

<nav aria-label="breadcrumb" class="breadcrumb-nav">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")"><i class="icon-home"></i></a></li>
            <li class="breadcrumb-item active" aria-current="page">Giỏ hàng</li>
        </ol>
    </div><!-- End .container -->
</nav>

<div class="container">
    <div class="row">
        @{
            if (Model == null || Model.ListItem.Count <= 0)
            {
                <div class="col-12 text-center">
                    <img src="~/themes/frontend/images/empty-cart.png" style="margin:auto; margin-bottom:10px" />
                    <h4 class="post-title mb-2">Bạn chưa có sản phẩm nào trong giỏ hàng :( </h4>
                    <a asp-controller="Home" asp-action="Index" class="btn btn-outline-secondary mb-2">Tiếp tục mua hàng</a>
                </div>
            }
            else
            {
                <div class="col-lg-12">
                    <div class="cart-table-container">
                        <table class="table table-cart" id="tblCart">
                            <thead>
                                <tr>
                                    <th class="product-col">Sản phẩm</th>
                                    <th class="price-col">Giá</th>
                                    <th class="qty-col">Số lượng</th>
                                    <th>Tạm tính</th>
                                    <th>#</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    foreach (var rec in Model.ListItem)
                                    {
                                        #region [--Data--]
                                        string Key = rec.ObjectKey;
                                        string Name = rec.ObjectName;
                                        string Price = rec.ObjectPrice.ToString("n0");
                                        string Qty = rec.Quantity.ToString();
                                        string Amount = rec.Amount.ToString("n0");
                                        string Photo = Url.Content(rec.PhotoPath);
                                        string Des = rec.Description;
                                        #endregion

                                        <tr class="product-row" id="@Key">
                                            <td class="product-col">
                                                <figure class="product-image-container">
                                                    <a href="@Url.Action("Product_Quick","Home", new {ProductKey = Key })" class="product-image btn-quickview">
                                                        <img src="@Photo" alt="product">
                                                    </a>
                                                </figure>
                                                <h6 class="product-title w-100">
                                                    <a href="@Url.Action("Product_Quick", "Home", new {ProductKey = Key })" class="btn-quickview" title="Quick View"> @Name</a>
                                                    <hr class="m-4" />
                                                    <input class="form-control" type="text" placeholder="Ghi chú" value="@Des" />
                                                </h6>
                                            </td>
                                            <td>@Price</td>
                                            <td>
                                                <input class="vertical-quantity form-control" type="text" value="@Qty">
                                            </td>
                                            <td>@Amount</td>
                                            <td>
                                                <button type="button" title="Xoá" class="btn btn-outline-danger btn-remove" onclick="RemoveRow('@Key')">Xoá</button>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="5" class="clearfix">
                                        <div class="float-left">
                                            <a asp-controller="Home" asp-action="Index" class="btn btn-outline-secondary">Tiếp tục mua hàng</a>
                                        </div>

                                        <div class="float-right">
                                            <button type="button" class="btn btn-outline-secondary btn-clear-cart" id="btn_Cancel">Huỷ đơn hàng</button>
                                            <button type="button" class="btn btn-outline-secondary btn-update-cart" id="btn_CheckOut">Thanh toán</button>
                                        </div>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            }
        }
    </div>
</div>

@section scripts{
    <script>
        var URL_CheckOut = "@Url.Action("CheckOut", "Member")";
        var URL_CancelCart = "@Url.Action("CancelCart", "Member")";
        var URL_ShippingCart = "@Url.Action("ShippingCart", "Member")";
        var URL_RemoveCart = "@Url.Action("RemoveCart", "Member")";

        function RemoveRow(key) {
            $.ajax({
                url: URL_CancelCart,
                type: "POST",
                data: {
                    "ProductKey": key
                },
                beforeSend: function () {
                },
                success: function (r) {
                    if (r.success) {
                        $("tr[id='" + key + "']").remove();
                    }
                    else {
                        //Utils.OpenNotify(r.message, "Thông báo", "error");
                    }
                },
                error: function (err) {
                    //Utils.OpenNotify(err.responseText, "Thông báo", "error");
                },
                complete: function () {
                }
            });
        }
        function CheckOut(data) {

            $.ajax({
                url: URL_CheckOut,
                type: "POST",
                data: {
                    "data": data
                },
                beforeSend: function () {
                },
                success: function (r) {
                    if (r.success) {
                        window.location = URL_ShippingCart;
                    }
                    else {
                        alert(r.message);
                    }
                },
                error: function (err) {
                    //Utils.OpenNotify(err.responseText, "Thông báo", "error");
                },
                complete: function () {
                }
            });
        }
        function CancelCart() {
            $.ajax({
                url: URL_CancelCart,
                type: "POST",
                data: "",
                beforeSend: function () {
                },
                success: function (r) {
                    if (r.success) {
                        location.reload(true);
                    }
                    else {
                        //Utils.OpenNotify(r.message, "Thông báo", "error");
                    }
                },
                error: function (err) {
                    //Utils.OpenNotify(err.responseText, "Thông báo", "error");
                },
                complete: function () {
                }
            });
        }

        $("#tblCart").on("click", "button.icon-up-dir", function () {
            var $row = $(this).closest("tr");

            var price = parseFloat($row.find("td:eq(1)").text().replaceAll(",", ""));
            var qty = parseFloat($row.find("td:eq(2) input[type='text']").val());
            var money = price * qty;
            var txt = $row.find("td:eq(3)");
            txt.html($.number(money));
        });
        $("#tblCart").on("click", "button.icon-down-dir", function () {
            var $row = $(this).closest("tr");

            var price = parseFloat($row.find("td:eq(1)").text().replaceAll(",", ""));
            var qty = parseFloat($row.find("td:eq(2) input[type='text']").val());
            var money = price * qty;
            var txt = $row.find("td:eq(3)");
            txt.html($.number(money));
        });
        $(".vertical-quantity").blur(function () { });

        $("#btn_CheckOut").click(function () {
            var data = [];
            $("#tblCart tbody tr").each(function () {
                var item = {
                    id: $(this).attr("id"),
                    des: $(this).find("td:eq(0) input[type='text']").val(),
                    price: parseFloat($(this).find("td:eq(1)").text().replaceAll(",", "")),
                    qty: $(this).find("td:eq(2) input[type='text']").val(),
                };
                data.push(item);
            });
            console.log(data);
            CheckOut(data);
        });
        $("#btn_Cancel").click(function () {
            CancelCart();
        });
    </script>
}