﻿@{
    Layout = null;
}
<div class="modal-wrapper">
    <div class="container">
        <div class="row row-sparse">
            <div class="col-md-6">
                <h2 class="title mb-2">Đã có tài khoản</h2>

                <form action="@Url.Action("Login_Normal","Member")" class="mb-1">
                    <label for="login-email">Tên đăng nhập/ Email<span class="required">*</span></label>
                    <input type="email" class="form-input form-wide mb-2" id="login-email" required name="Email" value="@ViewBag.UserName" />

                    <label for="login-password">Mật khẩu <span class="required">*</span></label>
                    <input type="password" class="form-input form-wide mb-2" id="login-password" required name="Password" value="@ViewBag.Password" maxlength="20"/>

                    <div class="form-footer">
                        <button type="submit" class="btn btn-primary btn-md">Đăng nhập</button>

                        <div class="custom-control custom-checkbox form-footer-right">
                            <input type="checkbox" class="custom-control-input" id="lost-password" >
                            <label class="custom-control-label form-footer-right" for="lost-password">Ghi nhớ</label>
                        </div>
                    </div><!-- End .form-footer -->
                    <a href="#" class="forget-password">Quên mật khẩu ?</a>
                </form>
            </div><!-- End .col-md-6 -->

            <div class="col-md-6">
                <h2 class="title mb-2">Chưa có tài khoản</h2>

                <form action="@Url.Action("Register","Member")" method="post">
                    <label for="register-email">Tên đăng nhập/ Email<span class="required">*</span></label>
                    <input type="email" class="form-input form-wide mb-2" id="register-email" required name="RegEmail">

                    <label for="register-password">Mật khẩu <span class="required">*</span></label>
                    <input type="password" class="form-input form-wide mb-2" id="register-password" required name="RegPassword" maxlength="20">

                    <div class="form-footer">
                        <button type="submit" class="btn btn-primary btn-md">Đăng ký</button>

                        <!-- End .custom-checkbox -->
                    </div><!-- End .form-footer -->
                </form>
            </div><!-- End .col-md-6 -->
        </div><!-- End .row -->
    </div><!-- End .container -->
    
</div>