﻿@model Order_Model
@{
    var total = Model.ListItem.Sum(s => s.Quantity);
}
<nav aria-label="breadcrumb" class="breadcrumb-nav">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="@Url.Action("Index","Home")"><i class="icon-home"></i></a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Đơn hàngs</li>
        </ol>
    </div><!-- End .container -->
</nav>
<div class="container">
    <ul class="checkout-progress-bar text-center">
        <li>
            <span>Thông tin</span>
        </li>
        <li class="active">
            <span>Đơn hàng & Thanh toán</span>
        </li>
    </ul>
    <div class="row">
        <div class="col-lg-8" style="margin:auto;">
            <ul class="checkout-steps">
                <li>
                    <h3 class="step-title mb-3">
                        Đơn hàng số: @Model.OrderID
                        <small class="float-right">Ngày: @Model.OrderDate.ToString("dd/MM")</small>
                    </h3>
                    <address>
                        <b>Họ tên:</b> @Model.BuyerName <br>
                        <b>Địa chỉ:</b>@Model.BuyerAddress <br>
                        <b>Số điện thoại:</b> @Model.BuyerPhone <br>
                        <b>Ghi chú:</b> @Model.Description <br>
                    </address>
                </li>
                <li>
                    <table class="table table-striped table-responsive-lg">
                        <thead>
                            <tr>
                                <th>Sản phẩm</th>
                                <th class="text-right">Đơn giá</th>
                                <th class="text-right">Số lượng</th>
                                <th class="text-right">Tạm tính</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                foreach (var rec in Model.ListItem)
                                {
                                    <tr>
                                        <td>
                                            @rec.ObjectName
                                            @{
                                                if (rec.Description.Length > 0)
                                                { <p>@rec.Description</p>}
                                            }
                                        </td>
                                        <td class="text-right">@rec.ObjectPrice.ToString("n0")</td>
                                        <td class="text-right">@rec.Quantity</td>
                                        <td class="text-right">@rec.Amount.ToString("n0")</td>
                                    </tr>
                                }
                            }
                            <tr></tr>
                        </tbody>
                        <tfoot>
                            <tr class="font-weight-extra-bold">
                                <th colspan="3" class="text-right">Thanh toán</th>
                                <th class="text-right text-danger font-weight-semibold">
                                    @Model.AmountOrder.ToString("n0")
                                </th>
                            </tr>
                            <tr>
                                <td colspan="4">
                                    <h4 class="text-success alert-success font-weight-light p-5">
                                        Cảm ơn bạn đã mua hàng, chúng tôi sẽ liên hệ bạn qua số điện thoại (@Model.BuyerPhone) để xác nhận
                                        và giao hàng đến địa chỉ (@Model.BuyerAddress) vui lòng chú ý điện thoại để nhân viên giao hàng liên lạc !.
                                    </h4>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </li>
            </ul>
        </div>
    </div>
</div>