﻿@model Order_Model
@{
    var total = Model.ListItem.Sum(s => s.Quantity);
}

<nav aria-label="breadcrumb" class="breadcrumb-nav">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="@Url.Action("Index","Home")"><i class="icon-home"></i></a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Thanh toán</li>
        </ol>
    </div><!-- End .container -->
</nav>
<div class="container">
    <ul class="checkout-progress-bar text-center">
        <li class="active">
            <span>Thông tin</span>
        </li>
        <li>
            <span>Đơn hàng & Thanh toán</span>
        </li>
    </ul>
    <div class="row">
        <div class="col-lg-8">
            <ul class="checkout-steps">
                <li>
                    @{
                        if (TempData["Error"] != null && TempData["Error"].ToString() != string.Empty)
                        {
                            <div class="text-danger font-weight-light alert-danger p-4">@TempData["Error"]</div>
                        }
                    }
                    <h2 class="step-title">Địa chỉ giao hàng</h2>
                    <form action="@Url.Action("SaveOrder","Member")" method="post">

                        <div class="form-group required-field">
                            <label>Họ tên người nhận </label>
                            <input type="text" class="form-control" required="" name="Name">
                        </div><!-- End .form-group -->

                        <div class="form-group required-field">
                            <label>Số điện thoại </label>
                            <input type="number" class="form-control" required="" name="Phone">
                        </div><!-- End .form-group -->

                        <div class="form-group required-field">
                            <label>Địa chỉ</label>
                            <input type="text" class="form-control" required="" name="Address">
                        </div><!-- End .form-group -->

                        <div class="form-group required-field">
                            <label>Ghi chú</label>
                            <textarea type="text" class="form-control" placeholder="Căn, tầng, số, chung cư, vv..." name="Description"></textarea>
                        </div><!-- End .form-group -->

                        <div>
                            <button type="submit" class="btn btn-primary">Đặt hàng</button>
                        </div>
                    </form>
                </li>
                <li>
                    <p>Khi thanh toán đơn hàng đồng nghĩa là bạn đồng ý với các <a href="#">điều khoản</a> của shop !.</p>
                </li>
            </ul>
        </div>
        <div class="col-lg-4">
            <div class="order-summary">
                <h3>Sản phẩm</h3>

                <h4>
                    <a data-toggle="collapse" href="#order-cart-section" class="" role="button" aria-expanded="true" aria-controls="order-cart-section">@total sản phẩm trong giỏ hàng </a>
                </h4>

                <div class="collapse show" id="order-cart-section" style="">
                    <table class="table table-mini-cart">
                        <tbody>
                            @{
                                foreach (var rec in Model.ListItem)
                                {
                                    <tr>
                                        <td class="product-col">
                                            <figure class="product-image-container">
                                                <a href="@Url.Action("Product_Quick","Home", new {ProductKey = rec.ObjectKey })" class="product-image btn-quickview">
                                                    <img src="@Url.Content(rec.PhotoPath)" alt="product">
                                                </a>
                                            </figure>
                                            <div>
                                                <h2 class="product-title text-truncate">
                                                    <a href="@Url.Action("Product_Quick","Home", new {ProductKey = rec.ObjectKey })" class="btn-quickview">@rec.ObjectName</a>
                                                </h2>
                                                <p>Ghi chú: @rec.Description</p>
                                                <span class="product-qty">SL x @rec.Quantity</span>
                                            </div>
                                        </td>
                                        <td class="price-col text-right">@rec.Amount.ToString("n0")</td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div><!-- End #order-cart-section -->
            </div><!-- End .order-summary -->
        </div>
    </div>
</div>