﻿@using Microsoft.AspNetCore.Html
@model Article_Model

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <article class="post single">
                <div class="post-media">
                    <div class="post-slider owl-carousel owl-theme">
                        <img src="@Url.Content(Model.ImageLarge)" class="fit-image" />
                    </div><!-- End .post-slider -->
                </div><!-- End .post-media -->

                <div class="post-body">
                    <div class="post-date">
                        <span class="day">
                            @Model.CreatedOn.ToString("dd")
                        </span>
                        <span class="month">
                            @Model.CreatedOn.ToString("MM")
                        </span>
                    </div><!-- End .post-date -->

                    <h2 class="post-title">
                        @Model.ArticleName
                    </h2>

                    <div class="post-meta">
                        <span>
                            <i class="icon-calendar"></i>
                            @Model.CreatedOn.ToString("dd-MM-yyyy")
                        </span>
                        <span>
                            <i class="icon-user"></i>Đăng bởi
                            <a href="#">@Model.CreatedName</a>
                        </span>

                    </div><!-- End .post-meta -->

                    <div class="post-content">
                        @(new HtmlString(Model.ArticleContent))
                    </div><!-- End .post-content -->

                    <div class="post-share">
                        <h3>
                            <i class="icon-forward"></i>
                            Chia sẽ bài viết
                        </h3>

                        <div class="social-icons">
                            <a href="#" class="social-icon social-facebook" target="_blank" title="Facebook">
                                <i class="icon-facebook"></i>
                            </a>
                        </div><!-- End .social-icons -->
                    </div><!-- End .post-share -->
                </div><!-- End .post-body -->
            </article><!-- End .post -->
        </div><!-- End .col-lg-9 -->
    </div><!-- End .row -->
</div><!-- End .container -->

@section Scripts{
    <script>
        $(document).ready(function () {
            $("div.post-content ol").css("list-style", "auto");
        });
    </script>
}

<!--<div class="breadcrumbs-area position-relative mb-text-p"
     style="
    background: url('/themes/frontend/images/articlebanner.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0px -145px;
    padding-bottom:50px;">
    <div class="container" style="padding-top:30px">
        <div class="row">
            <div class="col-12 text-center">
                <div class="breadcrumb-content position-relative section-content">
                    <h3 class="title" style="color:white; text-shadow: rgb(0 0 0) 2px 2px">
                        @ViewBag.CategoryName
                    </h3>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-section pt-90">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-12 order-lg-1" id="sticky-sidebar">
                @await Component.InvokeAsync("LeftArticle", Model.CategoryKey)
            </div>
            <div class="col-lg-8 col-12 order-lg-2">-->
<!-- Portfolio Details Content Start -->
<!--<div class="portfolio-details-content" data-aos="fade-up" data-aos-delay="300">
    <div class="portfolio-details-desc mb-8" style="display:none;">
        <h2 class="title text-center">@Model.ArticleName</h2>
    </div>
    <div class="mb-3">
        @Model.Summarize
    </div>
    @if (Model.ImageLarge.Length > 0)
    {
        <div class="text-center mb-3">
            <img src="@Url.Content(Model.ImageLarge)" class="fit-image" />
        </div>
    }
    <div class="portfolio-details-info">
        <ul>
            <li id="divBlog">
                @(new HtmlString(Model.ArticleContent))
            </li>

            <li class="">
                <div class="meta-list mb-3">
                    <a href="#" class="meta-item author">@Model.CreatedName</a>

                    @if (Model.FileAttack.Length > 0)
                    {
                        <a href="@Model.FileAttack" download="" class="float-right" style="font-style: oblique;">
                            Tập tin đính kèm
                            <i class="fas fa-paperclip bounce3 animated3 "></i>
                        </a>
                    }

                    <span class="meta-item date">@Model.ModifiedOn.ToString("dd/MM/yyyy")</span>
                </div>
            </li>
        </ul>
    </div>
</div>-->
<!-- Portfolio Details Content End -->
<!--</div>
        </div>
    </div>
</div>
-->
