﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<nav aria-label="breadcrumb" class="breadcrumb-nav">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="#">
                    <i class="icon-home"></i>
                </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Liên hệ</li>
        </ol>
    </div><!-- End .container -->
</nav>
<div class="container">
    <div class="row">
        <div class="col-6">
            <h2>Chi tiết xin liên hệ</h2>
            <p>
                <strong>Công ty cổ phần TN SOLUTION</strong>
                <strong>Văn phòng:</strong>
                96/14 Tân Mỹ, Kp4, P.Tân Thuận Tây, Q7 TPHCM<br>
                <strong>Giờ làm việc:</strong>
                T2 - T7 / 8:30 AM - 8:00 PM<br>
                <strong>Điện thoại:</strong>
                <a href="tel:02862706069"></a> (028) 6270 6069<br>
                <strong>Hotline:</strong>
                <a href="tel:0902106212"></a> 090 210 6212<br>
                <strong>Email:</strong>
                <a href="mailto:info@tnsolution.vn"> info@tnsolution.vn</a>
            </p>
        </div>
    </div>

    <iframe id="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.789355704406!2d106.71634341428684!3d10.75071136260881!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f1498bcc1c7%3A0xbaa2450999a48774!2zQ8OUTkcgVFkgQ-G7lCBQSOG6pk4gVE4gU09MVVRJT04!5e0!3m2!1sen!2s!4v1624411315225!5m2!1sen!2s"
            style="border:0; width:100%" allowfullscreen="" loading="lazy"></iframe>

</div>