﻿@{
    ViewData["Title"] = "Home Page";
}

@await Component.InvokeAsync("Banner")

<div class="container">
    <div class="info-boxes-slider owl-carousel owl-theme mb-2" data-owl-options="{
					'dots': false,
					'loop': false,
					'responsive': {
						'576': {
							'items': 2
						},
						'992': {
							'items': 3
						}
					}
				}">
        <div class="info-box info-box-icon-left">
            <i class="icon-shipping"></i>

            <div class="info-box-content">
                <h4>GIAO HÀNG MIỄN PHÍ</h4>
                <p class="text-body">Miễn phí giao hàng cho đơn hàng trên 990.000</p>
            </div><!-- End .info-box-content -->
        </div><!-- End .info-box -->

        <div class="info-box info-box-icon-left">
            <i class="icon-money"></i>

            <div class="info-box-content">
                <h4>BẢO HÀNH</h4>
                <p class="text-body">Đổi trả miễn phí nếu lỗi do nhà sản xuất.</p>
            </div><!-- End .info-box-content -->
        </div><!-- End .info-box -->

        <div class="info-box info-box-icon-left">
            <i class="icon-support"></i>

            <div class="info-box-content">
                <h4>HỖ TRỢ 24/7</h4>
                <p class="text-body">Thời gian hỗ trợ linh động.</p>
            </div><!-- End .info-box-content -->
        </div><!-- End .info-box -->
    </div><!-- End .info-boxes-slider -->

    @await Component.InvokeAsync("ProductsFront", ViewBag.SessionFront as ParamProductComponent)
    <hr class="mt-4 m-b-5">
    @await Component.InvokeAsync("ProductsByCate")
</div>

<div id="fb-root"></div>
<div class="fb-customerchat" attribution="biz_inbox" page_id="103404052015060" greeting_dialog_display="hide" greeting_dialog_delay="100" theme_color="#d32323"></div>
<!---->
@section scripts{
    <script>
        window.fbAsyncInit = function () {
            FB.init({
                appId: '949020405952640',
                cookie: true,
                xfbml: true,
                version: 'v11.0'
            });
            FB.AppEvents.logPageView();
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) { return; }
            js = d.createElement(s); js.id = id;
            js.src = "https://connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/vi_VN/sdk/xfbml.customerchat.js';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
        function checkLoginState() {
            FB.getLoginStatus(function (response) {
                console.log(JSON.stringify(response));
            });
        }
    </script>
}