﻿@using Microsoft.AspNetCore.Html
@using Newtonsoft.Json
@model Product_Model
@{
    var ListPicture = new List<Product_Photo_Model>();
    if (Model.PhotoList.Length > 0)
    {
        ListPicture = JsonConvert.DeserializeObject<List<Product_Photo_Model>>(Model.PhotoList);
    }
}

<div class="container">
    <nav aria-label="breadcrumb" class="breadcrumb-nav">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a asp-controller="Home" asp-action="Index">
                    <i class="icon-home"></i>
                </a>
            </li>
            <li class="breadcrumb-item">
                <a href="#">@Model.CategoryName</a>
            </li>
        </ol>
    </nav>
    <div class="product-single-container product-single-default">
        <div class="row">
            <div class="col-md-5 product-single-gallery">
                <div class="product-slider-container">
                    <div class="product-single-carousel owl-carousel owl-theme">

                        @foreach (var rec in ListPicture)
                        {
                            <div class="product-item">
                                <img class="product-single-image" src="@Url.Content(rec.PhotoPath)"
                                     data-zoom-image="@Url.Content(rec.PhotoPath)" />
                            </div>
                        }

                    </div>
                    <!-- End .product-single-carousel -->
                    <span class="prod-full-screen">
                        <i class="icon-plus"></i>
                    </span>
                </div>
                <div class="prod-thumbnail owl-dots" id='carousel-custom-dots'>
                    @foreach (var rec in ListPicture)
                    {
                        <div class="owl-dot">
                            <img src="@Url.Content(rec.PhotoPath)" />
                        </div>
                    }

                </div>
            </div><!-- End .product-single-gallery -->

            <div class="col-md-7 product-single-details">
                <h1 class="product-title">@Model.ProductName</h1>
                <div class="ratings-container">
                    <div class="product-ratings">
                        <span class="ratings" style="width:60%"></span><!-- End .ratings -->
                    </div><!-- End .product-ratings -->

                    <a href="#" class="rating-link">( 6 Reviews )</a>
                </div><!-- End .ratings-container -->

                <hr class="short-divider">

                <div class="price-box">
                    <del class="old-price">@Model.StandardCost.ToString("n0")</del>
                    <span class="product-price">@Model.SalePrice.ToString("n0")</span>
                </div><!-- End .price-box -->

                <div class="product-desc">
                    <p style="white-space:pre-line">@(new HtmlString(Model.Description))</p>
                </div><!-- End .product-desc -->

                <hr class="divider">

                <div class="product-action">
                    <div class="product-single-qty">
                        <input class="horizontal-quantity form-control" type="text">
                    </div><!-- End .product-single-qty -->

                    <a href="#" class="btn btn-dark add-cart icon-shopping-cart" title="Add to Cart" key="@Model.ProductKey">Thêm vào giỏ hàng</a>
                </div><!-- End .product-action -->

                <hr class="divider mb-1">

                <div class="product-single-share">
                    <label class="sr-only">Share:</label>

                    <div class="social-icons mr-2 d-none">
                        <a href="#" class="social-icon social-facebook icon-facebook" target="_blank" title="Facebook"></a>
                        <a href="#" class="social-icon social-twitter icon-twitter" target="_blank" title="Twitter"></a>
                        <a href="#" class="social-icon social-linkedin fab fa-linkedin-in" target="_blank" title="Linkedin"></a>
                        <a href="#" class="social-icon social-gplus fab fa-google-plus-g" target="_blank" title="Google +"></a>
                        <a href="#" class="social-icon social-mail icon-mail-alt" target="_blank" title="Mail"></a>
                    </div><!-- End .social-icons -->
                </div><!-- End .product single-share -->
            </div><!-- End .product-single-details -->
        </div><!-- End .row -->
    </div>
    <!-- End .product-single-container -->
    <div class="row">
        <div class="col-8">
            <div class="product-single-tabs">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active show" id="product-tab-desc" data-toggle="tab" href="#product-desc-content" role="tab" aria-controls="product-desc-content" aria-selected="true">Description</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade active show" id="product-desc-content" role="tabpanel" aria-labelledby="product-tab-desc">
                        <div class="product-desc-content">@(new HtmlString(Model.ProductSummarize))</div>
                        <!-- End .product-desc-content -->
                    </div><!-- End .tab-pane -->

                </div><!-- End .tab-content -->
            </div>
        </div>
        <div class="col-4">
            <!-- QC-ChiTietSP -->
            <ins class="adsbygoogle"
                 style="display:block"
                 data-ad-client="ca-pub-8239467783664907"
                 data-ad-slot="5505599935"
                 data-ad-format="auto"
                 data-full-width-responsive="true"></ins>
            <script>
     (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
    </div>


    <div class="products-section pt-0">
        @await Component.InvokeAsync("ProductsRelated", ViewBag.SessionRelated as ParamProductComponent)
    </div>
</div>