﻿@model List<Product_Model>

<div class="category-banner-container bg-gray">
    <div class="category-banner banner text-uppercase" style="background: no-repeat 60%/cover url(@Url.Content("~/themes/frontend/images/banner-top.jpg")">
        <div class="container position-relative">
            <div class="row">
                <div class="pl-lg-5 pb-5 pb-md-0 col-md-5 col-xl-4 col-lg-4 offset-1">
                    <h3 class="ml-lg-5 mb-2 ls-10">@ViewBag.CategoryName</h3>
                </div>
                <div class="pl-lg-5 col-md-4 offset-md-0 offset-1 pt-4 d-none">
                    <div class="coupon-sale-content">
                        <h4 class="m-b-2 coupon-sale-text bg-white ls-10 text-transform-none">Exclusive COUPON</h4>
                        <h5 class="mb-2 coupon-sale-text d-block ls-10 p-0"><i class="ls-0">UP TO</i><b class="text-dark">$100</b> OFF</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <nav aria-label="breadcrumb" class="breadcrumb-nav">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a asp-controller="Home" asp-action="Index">
                    <i class="icon-home"></i>
                </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                <a href="#">@ViewBag.CategoryName</a>
            </li>
        </ol>
    </nav>
    <div class="row">
        <div class="col-lg-9">
            <nav class="toolbox">
                <div class="toolbox-left">
                    <div class="toolbox-item toolbox-sort">
                        <label>Sort By:</label>

                        <div class="select-custom">
                            <select name="orderby" class="form-control">
                                <option value="menu_order" selected="selected">Default sorting</option>
                                <option value="popularity">Sort by popularity</option>
                                <option value="rating">Sort by average rating</option>
                                <option value="date">Sort by newness</option>
                                <option value="price">Sort by price: low to high</option>
                                <option value="price-desc">Sort by price: high to low</option>
                            </select>
                        </div><!-- End .select-custom -->


                    </div><!-- End .toolbox-item -->
                </div><!-- End .toolbox-left -->

                <div class="toolbox-right">
                    <div class="toolbox-item toolbox-show">
                        <label>Show:</label>

                        <div class="select-custom">
                            <select name="count" class="form-control">
                                <option value="12">12</option>
                                <option value="24">24</option>
                                <option value="36">36</option>
                            </select>
                        </div><!-- End .select-custom -->
                    </div><!-- End .toolbox-item -->

                    <div class="toolbox-item layout-modes">
                        <a href="category.html" class="layout-btn btn-grid active" title="Grid">
                            <i class="icon-mode-grid"></i>
                        </a>
                        <a href="category-list.html" class="layout-btn btn-list" title="List">
                            <i class="icon-mode-list"></i>
                        </a>
                    </div><!-- End .layout-modes -->
                </div><!-- End .toolbox-right -->
            </nav>

            <div class="row">
                @{
                    if (Model.Count > 0)
                    {
                        foreach (var rec in Model)
                        {
                            #region [--Data--]
                            string Key = rec.ProductKey;
                            string ProductID = rec.ProductID;
                            string ProductName = rec.ProductName;
                            string Photo = rec.PhotoPath;
                            string CategoryName = rec.CategoryName;
                            double StandardCost = rec.StandardCost;
                            double SalePrice = rec.SalePrice;
                            if (Photo == string.Empty)
                            {
                                Photo = "~/themes/admin/img/noimg.png";
                            }
                            #endregion
                            <div class="col-6 col-sm-4 col-md-3">
                                <div class="product-default inner-quickview inner-icon">
                                    <figure>
                                        <a asp-controller="Home" asp-action="Product_View" asp-route-ProductID="@ProductID">
                                            <img src="@Url.Content(Photo)">
                                        </a>
                                        <div class="btn-icon-group">
                                            <button class="btn-icon btn-add-cart" data-toggle="modal" data-target="#addCartModal" key="@Key">
                                                <i class="icon-shopping-cart"></i>
                                            </button>
                                        </div>
                                        <a href="@Url.Action("Product_Quick","Home", new {ProductID = ProductID })" class="btn-quickview" title="Quick View">Xem nhanh</a>
                                    </figure>
                                    <div class="product-details">
                                        <div class="category-wrap">
                                            <div class="category-list">
                                                <a asp-controller="Home" asp-action="Product_View" asp-route-ProductID="@ProductID">@CategoryName</a>
                                            </div>
                                        </div>
                                        <h3 class="product-title">
                                            <a asp-controller="Home" asp-action="Product_View" asp-route-ProductID="@ProductID"> @ProductName</a>
                                        </h3>
                                        <div class="ratings-container">
                                            <div class="product-ratings">
                                                <span class="ratings" style="width:100%"></span><!-- End.ratings -->
                                                <span class="tooltiptext tooltip-top"></span>
                                            </div><!-- End.product-ratings -->
                                        </div><!-- End.ratings-container -->
                                        <div class="price-box">
                                            <del class="old-price">@StandardCost.ToString("n0")</del>
                                            <span class="product-price">@SalePrice.ToString("n0")</span>
                                        </div><!-- End.price-box -->
                                    </div><!-- End.product-details -->
                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        <div class="col-12">
                            <h3>ĐANG CẬP NHẬT</h3>
                        </div>
                    }
                }
            </div>
            <!-- End .row -->
        </div>
        <!-- End. col-lg-9 -->

        <div class="sidebar-overlay"></div>
        <div class="sidebar-toggle">
            <i class="fas fa-sliders-h"></i>
        </div>
        <aside class="sidebar-shop col-lg-3 order-lg-first mobile-sidebar">
            <div class="sidebar-wrapper">
                @await Component.InvokeAsync("LeftProduct", ViewBag.CategoryKey)
                <!-- End .widget -->
            </div>
            <!-- End .sidebar-wrapper -->
        </aside><!-- End .col-lg-3 -->
    </div>
</div>