﻿@using Microsoft.AspNetCore.Html
@using Newtonsoft.Json
@model Product_Model
@{
    Layout = null;
    var ListPicture = new List<Product_Photo_Model>();
    if (Model.PhotoList.Length > 0)
    {
        ListPicture = JsonConvert.DeserializeObject<List<Product_Photo_Model>>(Model.PhotoList);
    }
}

<div class="product-single-container product-single-default product-quick-view">
    <div class="row row-sparse">
        <div class="col-lg-6 product-single-gallery">
            <div class="product-slider-container">
                <div class="product-single-carousel owl-carousel owl-theme">
                    @foreach (var rec in ListPicture)
                    {
                        <div class="product-item">
                            <img class="product-single-image" src="@Url.Content(rec.PhotoPath)"
                                 data-zoom-image="@Url.Content(rec.PhotoPath)" />
                        </div>
                    }

                </div>
                <!-- End .product-single-carousel -->
            </div>
            <div class="prod-thumbnail owl-dots" id='carousel-custom-dots'>
                @foreach (var rec in ListPicture)
                {
                    <div class="owl-dot">
                        <img src="@Url.Content(rec.PhotoPath)" />
                    </div>
                }
            </div>
        </div><!-- End .product-single-gallery -->

        <div class="col-lg-6 product-single-details">
            <h1 class="product-title">@Model.ProductName</h1>

            <div class="ratings-container" style="display:none">
                <div class="product-ratings">
                    <span class="ratings" style="width:60%"></span><!-- End .ratings -->
                </div><!-- End .product-ratings -->

                <a href="#" class="rating-link">( 6 Reviews )</a>
            </div><!-- End .product-container -->

            <div class="price-box">
                <del class="old-price">@Model.StandardCost.ToString("n0")</del>
                <span class="product-price">@Model.SalePrice.ToString("n0")</span>
            </div><!-- End .price-box -->

            <div class="product-desc">
                <p>@Model.Description</p>
            </div><!-- End .product-desc -->
            <!-- End .product-filters-container -->

            <hr class="divider">

            <div class="product-action">
                <div class="product-single-qty">
                    <input class="horizontal-quantity form-control" type="text">
                </div><!-- End .product-single-qty -->

                <a href="#" class="btn btn-dark add-cart icon-shopping-cart" title="Add to Cart" key="@Model.ProductKey">Thêm vào giỏ hàng</a>
            </div><!-- End .product-action -->

            <hr class="divider">

            <div class="product-single-share">
                <label class="sr-only">Share:</label>

                <!-- www.addthis.com share plugin-->
                <div class="addthis_inline_share_toolbox" style="display:none"></div>

                <a href="#" class="add-wishlist" title="Add to Wishlist" style="display:none">Add to Wishlist</a>
            </div><!-- End .product single-share -->
        </div><!-- End .product-single-details -->
    </div><!-- End .row -->
</div><!-- End .product-single-container -->
