﻿@using WebSite
@model ParamMenuAdminComponent //List<Article_Category_Model>
@{

    var ListCategoryArticle = Model.ListCategory;
    var ListCategoryProduct = Model.ListProduct;

    var ListParentArticle = ListCategoryArticle.Where(s => s.Parent == 0).ToList();
    var ListParentProduct = ListCategoryProduct.Where(s => s.Parent == 0).ToList();
}

<nav id="menu" class="nav-main" role="navigation">
    <ul class="nav nav-main">
        <li>
            <a href="@Url.Action("Cart_List", "Admin")">
                <i class="fas fa-minus"></i><span>Đơn đặt hàng</span>
            </a>
        </li>
        <li>
            <a href="@Url.Action("Banner", "Admin")">
                <i class="fas fa-minus"></i>
                <span>Slide hình ảnh</span>
            </a>
        </li>
        <li class="nav-parent">
            <a href="#" class="nav-link">
                <i class="fas fa-minus"></i>
                <span>
                    Danh mục
                </span>
            </a>
            <ul class="nav nav-children">
                <li>
                    <a href=" @Url.Action("Article_Category", "Admin")">
                        <i class="fas fa-minus"></i>
                        <span>
                            Nội dung
                        </span>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Product_Category", "Admin")">
                        <i class="fas fa-minus"></i>
                        <span>
                            Mặt hàng
                        </span>
                    </a>
                </li>
            </ul>
        </li>

        <li class="nav-parent">
            <a href="#" class="nav-link">
                <i class="fas fa-minus"></i>
                <span>Mặt hàng</span>
            </a>
            <ul class="nav nav-children">
                @foreach (var rec in ListParentProduct)
                {
                    var ListChild = ListCategoryProduct.Where(s => s.Parent == rec.CategoryKey).ToList();
                    if (ListChild.Count > 0)
                    {
                        <li class="nav-parent">
                            <a href="#" class="nav-link">
                                <i class="fas fa-minus"></i>
                                <span>@rec.CategoryName</span>
                            </a>
                            <ul class="nav nav-children">
                                @{
                                    foreach (var child in ListChild)
                                    {
                                        <li>
                                            <a href="@Url.Action("Product_List", "Admin", new { child.CategoryKey})">
                                                <i class="fas fa-minus"></i><span>@child.CategoryName</span>
                                            </a>
                                        </li>
                                    }
                                }
                            </ul>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a href="@Url.Action("Product_List", "Admin", new { rec.CategoryKey})">
                                <i class="fas fa-minus"></i><span>@rec.CategoryName</span>
                            </a>
                        </li>
                    }
                }
            </ul>
        </li>
        <li class="nav-parent">
            <a href="#" class="nav-link">
                <i class="fas fa-minus"></i>
                <span>Nội dung</span>
            </a>
            <ul class="nav nav-children">
                @foreach (var rec in ListParentArticle)
                {
                    var ListChild = ListCategoryArticle.Where(s => s.Parent == rec.CategoryKey).ToList();
                    if (ListChild.Count > 0)
                    {
                        <li class="nav-parent">
                            <a href="#" class="nav-link">
                                <i class="fas fa-minus"></i>
                                <span>@rec.CategoryName</span>
                            </a>
                            <ul class="nav nav-children">
                                @{
                                    foreach (var child in ListChild)
                                    {
                                        <li>
                                            <a href="@Url.Action("Article_List", "Admin", new { child.CategoryKey})">
                                                <i class="fas fa-minus"></i><span>@child.CategoryName</span>
                                            </a>
                                        </li>
                                    }
                                }
                            </ul>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a href="@Url.Action("Article_List", "Admin", new { rec.CategoryKey})">
                                <i class="fas fa-minus"></i><span>@rec.CategoryName</span>
                            </a>
                        </li>
                    }
                }
            </ul>
        </li>
        <li>
            <a href="@Url.Action("Menu", "Admin")">
                <i class="fas fa-minus"></i><span>Menu Header</span>
            </a>
        </li>
        <li>
            <a href="@Url.Action("Config", "Admin")">
                <i class="fas fa-minus"></i><span>Tuỳ chỉnh </span>
            </a>
        </li>
    </ul>
</nav>